.history-container {
  background-color: #fafafa;
}

.top-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}
.visit-moment {
  margin: 5px 15px;
  color: black;
}

.visit-container {
  background-color: #fafafa;
}

.visit-card {
  height: 70px;
  border-color: #ccc;
  border-width: 1px;
  border: 1px solid;
  border-radius: 10px;
  color: black;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.confirm-btn {
  background-color: #ccc;
  color: black;
}

.padding-35 {
  padding: 45px;
}
.been-here {
  color: deeppink;
  vertical-align: top;
  font-size: 30px;
}

.selected-visit {
  border-width: 1px;
  border-color: deeppink;
}

.category-icon {
    width: 50;
    height: 50px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #fff;
    background-color: #FF0796;
}

.category-icon > Image {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}