.add-friends-container {
    background-color: rgba(0, 0, 0, .7);
}

.buttons-section {
    background-color: #EF0792;
    animation-name: add-friends-buttons-animation;
    animation-delay: 0s;
    animation-duration: .8s;
    animation-timing-function: ease-out;
}

.add-friends-btn {
    text-transform: capitalize;
    background: transparent;
    border-color: white;
    border-width: 2px;
    border-radius: 6px;
    color: white;
    width: 70%;
    height: 40px;
}

.add-friends-list {
    margin: 0 10px;
    padding: 10px;
}

.search-input {
    color: #fff;
    placeholder-color: #fff;
    border-width: 0px;
    border: none;
}

.user-list {
    margin: 0 10px;
    width: 20%;
    color: white;
}

.section-title {
    background-color: rgba(200,200,200, .6);
    color: white;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

.section-title > Label {
    margin-right: 20px;
}

.add-friend-img {
    width: 60px;
    height: 60px;
    border-radius: 29px;
    margin: 10px;
}

.no-results {
    color: white;
    margin: 20px 0;
}

.search-friends {
    background-color: red;
}

.load-more-btn {
    text-transform: capitalize;
    background-color: #EF0792;
    color: white;
    border-radius: 20px;
    height: 40px;
    padding: 0px 5px;
}

@keyframes add-friends-buttons-animation {
    0% { opacity: 0; transform: translateY(30)}
    100% { opacity: 1; transform: translateY(0)}
}