<!-- <GridLayout width="100%" height="100%" rows="auto, auto, *, auto" class="add-friends-container">
    <GridLayout row="0" columns="70px, *, 70px" marginTop="10px" class="add-friends-header">
        <Button col="0" text="&#xE5C4;" class="gi btn-black btn-sm" (tap)="close()">
        </Button>
        <GridLayout col="1" columns="43px, *, 43px" rows="*" horizontalAlignment="left" class="top-label">
            <Button text="&#xE8B6;" class="gi btn-xs btn-black" col="0" verticalAlignment="middle" horizontalAlignment="center">
            </Button>
            <TextField id="search-friends" width="100%" class="search-input" hint="Search by Name" col="1" horizontalAlignment="left"
                [(ngModel)]="searchInput" (ngModelChange)="onModelChanged()">
            </TextField>
            <Button *ngIf="searchInput && searchInput.length > 0" col="2" text="&#xE14C;" class="gi btn-xs btn-white" (tap)="searchInput = ''">
            </Button>
        </GridLayout>
        <Label col="2" text="&#xE8B8;" class="gi btn-black btn-sm" isEnabled="false" [ngStyle]="{opacity: 0}">
        </Label>
    </GridLayout>
    <StackLayout row="1" width="100%" class="add-friends-list" marginTop="10px">
        <GridLayout *ngIf="heatUsers" columns="auto, *, auto" rows="*,*" horizontalAlignment="left">
            <StackLayout col="0" class="section-title">
                <Label horizontalAlignment="left" [text]="searchInput == '' ? 'People you might know' : 'HEAT Users'">
                </Label>
            </StackLayout>
            <Label *ngIf="heatUsers.length == 0" col="0" row="1" class="no-results" text="No Results">
            </Label>
            <Button *ngIf="heatUsers.length == limit" col="2" row="0" class="load-more-btn share-header" text="Load More" (tap)="loadMore()">
            </Button>
        </GridLayout>
        <ScrollView id="heat-users" orientation="horizontal" marginTop="10px" (tap)="dismissKeyboard()">
            <StackLayout orientation="horizontal">
                <StackLayout *ngFor="let heatUser of heatUsers; let i = index;" class="user-list" (tap)="addToSendRequestList(heatUser)">
                    <Image *ngIf="heatUser.photo?.path" [id]="'img-' + i" class="add-friend-img" (loaded)="load(heatUser.photo.path, i)">
                    </Image>
                    <Image *ngIf="!heatUser.photo?.path" [id]="'img-' + i" class="add-friend-img" (loaded)="load(heatUser.photo.path, i)">
                    </Image>
                    <Label *ngIf="heatUser.firstName" textWrap="true" class="h3" horizontalAlignment="center" [text]="heatUser.firstName">
                    </Label>
                    <Label *ngIf="heatUser.lastName" textWrap="true" class="h3" horizontalAlignment="center" [text]="heatUser.lastName">
                    </Label>
                    <Label *ngIf="!heatUser.firstName && !heatUser.lastName" textWrap="true" class="h3" horizontalAlignment="center" [text]="heatUser.displayName || heatUser.username">
                    </Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>

        <GridLayout
            *ngIf="fbFriends"
            rows="*,*"
            horizontalAlignment="left"
            width="200px">
            <GridLayout
                row="0"
                class="section-title">
                <Label
                    verticalAlignment="center"
                    horizontalAlignment="center"
                    text="Facebook Friends">
                </Label>
            </GridLayout>
            <Label
                row="1"
                *ngIf="fbFriends.length == 0"
                text="No Results">
            </Label>
        </GridLayout>
        <ScrollView
            orientation="horizontal"
            marginTop="10px">
            <StackLayout
                orientation="horizontal">
                <StackLayout
                    *ngFor="let fbFriend of fbFriends"
                    class="user-list">
                    <Image
                        class="add-friend-img"
                        [src]="fbFriend.photo ? fbFriend.photo.path : ''">
                    </Image>
                    <Label
                        textWrap="true"
                        horizontalAlignment="center"
                        [text]="fbFriend.firstName">
                    </Label>
                    <Label
                        textWrap="true"
                        horizontalAlignment="center"
                        [text]="fbFriend.lastName">
                    </Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <GridLayout row="3" rows="*,auto" class="buttons-section" [height]="sendRequestListKeys.length == 0 ? '20%' : '35%'">
        <GridLayout row="0">
            <ScrollView orientation="horizontal" marginTop="10px">
                <StackLayout orientation="horizontal">
                    <StackLayout *ngFor="let key of sendRequestListKeys" class="user-list">
                        <Image class="add-friend-img" [src]="sendRequestList[key].photo ? sendRequestList[key].photo.path : ''">
                        </Image>
                        <Label *ngIf="sendRequestList[key].firstName" textWrap="true" class="h3" horizontalAlignment="center" [text]="sendRequestList[key].firstName">
                        </Label>
                        <Label *ngIf="sendRequestList[key].lastName" textWrap="true" class="h3" horizontalAlignment="center" [text]="sendRequestList[key].lastName">
                        </Label>
                        <Label *ngIf="!sendRequestList[key].firstName && !sendRequestList[key].lastName" textWrap="true" class="h3" horizontalAlignment="center"
                            [text]="sendRequestList[key].displayName || sendRequestList[key].username">
                        </Label>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>
        <Button *ngIf="sendRequestListKeys.length > 0" row="1" text="Send Friend Request" class="add-friends-btn m-b-10" horizontalAlignment="center"
            (tap)="sendFriendRequest()">
        </Button>
        <Button
            *ngIf="sendRequestListKeys.length == 0"
            row="1"
            text="Invite all Facebook Friends"
            class="add-friends-btn"
            horizontalAlignment="center"
            (tap)="inviteAllFBFriends()">
        </Button>
        <Button *ngIf="sendRequestListKeys.length == 0" row="0" text="Invite External Contact" class="add-friends-btn" verticalAlignment="center"
            horizontalAlignment="center" (tap)="inviteExternalContacts()">
        </Button>
    </GridLayout>
</GridLayout> -->