.img {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 20%;
}

.color-white {
    color: #FFF;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.establishment-list {
    background-color: #000;
}

.row {
    border-width: 0 0 1 0;
    border-color: #fff;
    background-color: #000;
    height: 80px;
}

.btn {
    font-size: 25px;
    height: 60px;;
    width: 60px;
    border-radius: 30px;
}

.title {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-top: 35%;
}

.vertical-align {
    vertical-align: middle;
}

.img-circle {
    border-radius: 30px;
    width: 60px;
    height: 60px;
}
