<GridLayout rows="auto, auto, *" class="container">
    <GridLayout row="0" columns="*, auto" width="100%">
        <Button col="1" text="&#xf00d;" (tap)="close()" class="fa btn bg-black"></Button>
    </GridLayout>
    <Label row="1" class="title h3 color-white p-t-10 p-b-10 p-l-15 p-r-15 m-b-15 m-l-15 m-r-15 grotesque-regular"
        text="Where in you in any of these places instead?" textWrap="true"></Label>
        <StackLayout row="2">
            <ScrollView orientation="vertical">
                <StackLayout>
                    <GridLayout *ngFor="let item of locationsArray" columns="auto, auto, *" class="list-group-item row" (tap)="select(item)">
                        <GridLayout text="" textWrap="true" col="0" class="img-circle img m-l-15" [gradient]="'#EF0792' " [endColor]="'#EF074A'"
                             [borderRadius]="30">
                             <Image stretch="aspectFill" [src]="item.establishment | establishmentUrl" class="" width="100%" height="100%"></Image>
                        </GridLayout>
                        <Label col="1" [text]="item.establishment.name" class="color-white vertical-align m-l-15 m-r-15 font-weight-bold grotesque-bold"></Label>
                        <Label col="2" [text]="item.establishment.address" class="color-white vertical-align grotesque-regular" textWrap="true"></Label>
                    </GridLayout>
                </StackLayout>
            </ScrollView>
        </StackLayout>
</GridLayout>
