.label-title{
    color: #ffffff;
    font-size: 15;
    font-weight: bold
 }
 .label-pre{
    color: #ffffff;
    font-size: 20;
    margin-left: 10; 
 }
 .img-circle{
    border-radius: 100%;
    border-width: 2px;  
    height: 40;
    width: 40;
} 
.img-icon{
    height: 50;
    width: 50;
}