#disconnection {
    background-color: rgba(0,0,0,0.7);
    /* animation-name: slideIn; */
    /* animation-duration: 1s; */
    /* animation-fill-mode: forwards; */
}


@keyframes slideIn {
    from {
        transform: translateY(2000);
    }
    to {
        transform: translateY(0);
    }
}