<!-- <ActionBar>
    <Label text="" class="action-bar-title" width="100%" height="100%" textAlignment="center"></Label>
</ActionBar>  backgroundColor="rgba(0,0,0,0.7)" -->
<!-- <AbsoluteLayout width="100%" opacity="0.7"> -->
    <StackLayout padding="27 21 28 21" opacity="0.7" borderRadius="5" [visibility]="isConnected ? 'collapsed' : 'visible'" id="disconnection"
        marginLeft="2%" class="color-white bg-black-noti notification-container main-container" width="96%" orientation="horizontal"
        borderWidth="0.5" borderColor="#ff0784">
        <Label row="1" text="&#xE001;" class="gi h1 text-center" color="#fff" fontSize="20" marginRight="7" textWrap="true">
        </Label>
        <Label class="text-center grotesque-regular" fontSize="12" color="#fff" text=" Oops looks like there is no internet connection!">
        </Label>

    </StackLayout>
<!-- </AbsoluteLayout> -->