<GridLayout
    *ngIf="show"
    width="100%"
    height="100%"
    rows="auto,auto,*,auto"
    class="share-container">
    <GridLayout
        row="0"
        column="0"
        width="100%"
        height="auto"
        row="auto"
        marginTop = "10px"
        columns="70px, *, 70px">
        <Button
            row= "0"
            col="0"
            text="&#xE5C4;"
            class="gi btn-black btn-sm"
            (tap)="close()">
        </Button>
        <GridLayout
            width="100%"
            row="0"
            col="1"
            columns = "43px, *, 43px"
            class="top-label text-center"
            verticalAlignment="center"
            horizontalAlignment="center"
            orientantion="horizontal">
            <Label
                text="&#xf002;"
                class="fa m-l-10"
                col="0"
                verticalAlignment="middle"
                horizontalAlignment="center">
            </Label>
            <TextField
                id="share-input"
                class="search-input"
                hint="Share with whom?"
                col="1"
                width="100%"
                horizontalAlignment="left"
                [(ngModel)]="searchInput"
                (ngModelChange)="onModelChanged()">
            </TextField>
            <Button
                *ngIf="searchInput && searchInput.length > 0"
                col="2"
                text="&#xf057;"
                class="fa btn btn-black"
                (tap)="searchInput = ''">
            </Button>
        </GridLayout>
        <Label
            row="0"
            col="2">
        </Label>
    </GridLayout>
    <StackLayout
        row="1"
        width="100%"
        class="add-friends-list"
        marginTop="10px">
        <GridLayout
            *ngIf="friends"
            columns="auto,*,auto"
            rows="*,*"
            horizontalAlignment="left">
            <StackLayout
                col="0"
                row="0"
                class="section-title share-header">
                <Label
                    horizontalAlignment="left"
                    varticalAlignment="center"
                    text="Recent Friends">
                </Label>
            </StackLayout>
            <Label
                *ngIf="friends.length == 0"
                col="0"
                row="1"
                class="no-results"
                text="No friends found">
            </Label>
            <Button
                *ngIf="friends.length == limit"
                col="2"
                row="0"
                class="load-more-btn share-header"
                text="Load More"
                (tap)="loadMore()">
            </Button>
        </GridLayout>
        <ScrollView
            id = "friends-list"
            orientation="horizontal"
            marginTop="10px"
            (tap)="dismissKeyboard()">
            <StackLayout
                orientation="horizontal">
                <StackLayout
                    *ngFor="let friend of friends"
                    class="user-list"
                    (tap)="addToShareList(friend)">
                    <Image
                        *ngIf="friend.photo?.path"
                        class="share-friend-img"
                        [src]="friend.photo ? friend.photo.path : ''">
                    </Image>
                    <Label
                        *ngIf="!friend.photo?.path"
                        class="share-friend-img"
                        style="background-color: #EF0792">
                    </Label>
                    <Label
                        *ngIf="friend.firstName"
                        textWrap="true"
                        class="h3"
                        horizontalAlignment="center"
                        [text]="friend.firstName">
                    </Label>
                    <Label
                        *ngIf="friend.lastName"
                        textWrap="true"
                        class="h3"
                        horizontalAlignment="center"
                        [text]="friend.lastName">
                    </Label>
                    <Label
                        *ngIf="!friend.firstName && !friend.lastName"
                        textWrap="true"
                        class="h3"
                        horizontalAlignment="center"
                        [text]="friend.displayName || friend.username">
                    </Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <GridLayout
        row="3"
        rows="*,auto"
        class="buttons-section"
        [height]="shareListKeys.length == 0 ? '15%' : '35%'">
        <GridLayout
            row="0">
            <ScrollView
                id = "share-list"
                orientation="horizontal"
                marginTop="10px">
                <StackLayout
                    orientation="horizontal">
                    <StackLayout
                        *ngFor="let key of shareListKeys"
                        class="user-list">
                        <Image
                            class="share-friend-img"
                            [src]="shareList[key].photo ? shareList[key].photo.path : ''">
                        </Image>
                        <Label
                            *ngIf="shareList[key].firstName"
                            textWrap="true"
                            class="h3"
                            horizontalAlignment="center"
                            [text]="shareList[key].firstName">
                        </Label>
                        <Label
                            *ngIf="shareList[key].lastName"
                            textWrap="true"
                            class="h3"
                            horizontalAlignment="center"
                            [text]="shareList[key].lastName">
                        </Label>
                        <Label
                            *ngIf="!shareList[key].firstName && !shareList[key].lastName"
                            textWrap="true"
                            class="h3"
                            horizontalAlignment="center"
                            [text]="shareList[key].displayName || shareList[key].username">
                        </Label>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>
        <GridLayout
            *ngIf="selectedEstablishment && selectedEstablishment.id && shareListKeys.length > 0"
            columns="*,auto,auto,*"
            row="1"
            marginBottom="10px"
            horizontalAlignment="center">
            <Button
                col="1"
                [text]="'Share '+ selectedEstablishment.name"
                [ngClass]="{'p-t-8': !!page.android}"
                class="share-friends-btn text-center"
                textWrap="false"
                horizontalAlignment="center"
                (tap)="share()">
            </Button>
            <Button
                col="2"
                text="External Contacts"
                class="share-friends-btn"
                verticalAlignment="center"
                horizontalAlignment="center"
                (tap)="shareToExternal()">
            </Button>
        </GridLayout>
        <GridLayout
            *ngIf="shareListKeys.length == 0"
            columns="*,auto,auto,*"
            row="0"
            verticalAlignment="center"
            horizontalAlignment="center">
            <Button
                col="1"
                text="All Friends"
                class="share-friends-btn"
                verticalAlignment="center"
                horizontalAlignment="center"
                (tap)="shareToAll()">
            </Button>
            <Button
                col="2"
                text="External Contacts"
                class="share-friends-btn"
                verticalAlignment="center"
                horizontalAlignment="center"
                (tap)="shareToExternal()">
            </Button>
        </GridLayout>
    </GridLayout>
</GridLayout>
