<!--<ActionBar title="" backgroundColor="black">
    <NavigationButton icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
     (tap)="openDrawer()"  ios.systemIcon="12" 
    <ActionItem (tap)="onTapSearch()"
        ios.position="right"
        icon="res://ic_search" android.position="actionBar">
    </ActionItem>
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="left">
        <Image src="res://hc_logo" width="20" height="20"></Image>
        <Label text=" Trending" color="white" style="font-size: 17; font-weight: bold"></Label>
    </StackLayout>
</ActionBar>-->

<!--<RadListView showOverNavigation="true">-->
<GridLayout 
    width       = "100%"
    height      = "100%"
    rows        = "*, *"
    columns     = "*"
    orientation = "horizontal">
    
        <!--<AbsoluteLayout class="img" [ngStyle]="{'background-image': establishment | establishmentUrl: 'background-img'}">-->
<!--            <StackLayout row="0" column="0" class="img" [ngStyle]="{'background-position': 'center top', 'background-image': establishment | establishmentUrl: 'background-img'}">
            </StackLayout>-->

            <GridLayout rows="*" width="100%" height="100%" [ngStyle]="{'background-size': 'cover', 'background-image': establishment | establishmentUrl: 'background-img'}">
                <!--<Image class="img" [src]="establishment | establishmentUrl" width="100%" height="100%"></Image>-->
                <Gradient width="100%" height="100%" horizontalAlignment="center" direction="to bottom" colors="rgba(0,0,0,255), rgba(0,0,0,255), #000000"></Gradient>
            </GridLayout>
<!--            <GridLayout class="" left="0" >
                <Gradient direction="to bottom" colors="#ffffff, #000000" class="" left="0" width="100%" top="0">
                </Gradient>
            </GridLayout>-->
            <StackLayout row="1" column="0" id="main-container" backgroundColor="#000000">
                <!--....Edited....By...Gopal...START.... -->
                <AbsoluteLayout>
                    <!--              <RadListView showOverNavigation="false">-->
                    <!--...ESTABLISHMENT DETAILS......START.... -->
                    <StackLayout orientation="vertical" class="" left="0" height="100%" width="100%">

                        <Label [text]="establishment.name" class="grotesque-bold bold p-l-15 p-r-15 text-center color-white" fontSize="21" textWrap="false"
                            verticalAlignment="middle" horizontalAlignment="center" marginTop="30">
                        </Label>

                        <Label [text]="establishment.address" color="#648296" fontSize="15" horizontalAlignment="center" class="h3 p-l-15 p-r-15 text-center address" textWrap="true">
                        </Label>

                        <Label [text]="establishment | category" fontSize="15" horizontalAlignment="center" verticalAlignment="middle" class="m-t-20 color-white" textWrap="true">
                        </Label>

                        <Label [text]="establishment | priceRange" fontSize="15" class="color-white" horizontalAlignment="center" verticalAlignment="middle" textWrap="true">
                        </Label>

                        <StackLayout class="m-t-25" left="0" height="0.5%" width="50%" horizontalAlignment="center" backgroundColor="#27333b">
                        </StackLayout>

                        <GridLayout rows="auto" class="m-t-25" color="#FFFAFA" columns="*, *, *">
                            <StackLayout orientation="vertical" col="0" (tap)="onTapForUserList('Visited')" [visit]="visitCount">
                                <Label text="Visited" fontSize="15" horizontalAlignment="center" verticalAlignment="middle" textWrap="true">
                                </Label>
                                <AbsoluteLayout horizontalAlignment="center" verticalAlignment="middle" class="m-t-25">
                                    <Image *ngIf = "visitCount && visitCount > 2" class="border-gray img-circle-three img-circle-three-space" stretch="aspectFill" backgroundPosition="left top" [src]="visits[2].account | accountUrl : 'normal'">
                                           </Image>
                                    <Image *ngIf = "visitCount && visitCount > 0" class="border-gray img-circle-two img-circle-two-space" stretch="aspectFill" backgroundPosition="left top" [src]="visits[0].account | accountUrl : 'normal'">
                                           </Image>
                                    <Image *ngIf = "visitCount && visitCount > 1" class="border-gray img-circle-one" stretch="aspectFill" backgroundPosition="left top" [src]="visits[1].account | accountUrl : 'normal'">
                                           </Image>
                                </AbsoluteLayout>
                            </StackLayout>
                            <StackLayout orientation="vertical" col="1" (tap)="onTapForUserList('ThereNow')">
                                <Label text="There Now" fontSize="15" horizontalAlignment="center" verticalAlignment="middle" textWrap="true">
                                </Label>
                                <AbsoluteLayout horizontalAlignment="center" verticalAlignment="middle" class="m-t-25">
                                    <Image *ngIf = "visitCount && visitCount > 2" class="border-pink img-circle-three img-circle-three-space" stretch="aspectFill" backgroundPosition="left top" [src]="visits[2].account | accountUrl : 'normal'">
                                           </Image>
                                    <Image *ngIf = "visitCount && visitCount > 0" class="border-pink img-circle-two img-circle-two-space" stretch="aspectFill" backgroundPosition="left top" [src]="visits[0].account | accountUrl : 'normal'">
                                           </Image>
                                    <Image *ngIf = "visitCount && visitCount > 1" class="border-pink img-circle-one" stretch="aspectFill" backgroundPosition="left top" [src]="visits[1].account | accountUrl : 'normal'">
                                           </Image>
                                </AbsoluteLayout>
                            </StackLayout>
                            <StackLayout orientation="vertical" col="2">
                                <Label text="Check-In" fontSize="15" horizontalAlignment="center" verticalAlignment="middle" textWrap="true">
                                </Label>
                                <Label id="check-in-tick" text="&#xE876;" fontSize="22" horizontalAlignment="center" verticalAlignment="middle" padding="40"
                                       class="gi" (tap)="onTapCheckIn()">
                                </Label>
                            </StackLayout>

                        </GridLayout>

                    </StackLayout>
                <!--...ESTABLISHMENT DETAILS......END.... -->

                <!--...VISITED OR THERE NOW......START.... -->
                    <StackLayout id="user-list-view" orientation="vertical" width="100%" height="100%" class="" left="0"
                                 backgroundColor="#000000" [visibility]="'collapsed'">
                        <GridLayout rows="auto" columns="*, *, *" color="#FFFAFA">
                            <Label id="users-label-text" col="0" fontSize="17" horizontalAlignment="left" verticalAlignment="middle" textWrap="true"
                                   padding="15">
                            </Label>
                            <Label col="2" text="&#xE14C;" fontSize="17" horizontalAlignment="right" verticalAlignment="middle" class="gi" padding="15"
                                   (tap)="onTapForUserList('Cancel')">
                            </Label>
                        </GridLayout>
                        <!-- *ngIf="showList"
                        nsTemplateKey="FRIEND"
                        [itemTemplateSelector]="templateSelector"-->
                        <RadListView showOverNavigation="true">
                            <GridLayout tkExampleTitle tkToggleNavButton>
                                <ListView class="list-group " separatorColor="transparent" [items]="visits">
                                    <ng-template tkListItemTemplate let-item="item">
                                        <GridLayout
                                            width = "100%"
                                            rows = "*,*"
                                            columns = "auto, *"
                                            class = "p-t-5 p-b-5 category-icon-grid"
                                            (tap) = "onTapItem(item)">
                                        <!--<StackLayout orientation="vertical">-->
                                            <StackLayout orientation="horizontal" class="p-t-10 p-l-10" marginLeft="10">
                                                <Image col="0" horizontalAlignment="left" class="img-circle-one border-pink" stretch="aspectFill" backgroundPosition="left top"
                                                       [src]="item.account | accountUrl: 'normal': selectedIndex">
                                                       </Image>
                                                <StackLayout horizontalAlignment="left" orientation="vertical" padding="10" marginLeft="10">
                                                    <Label [text]="item.name" color="#00CED1" fontSize="16"></Label>
                                                    <Label [text]="item.name" color="#636363" fontSize="16"></Label>
                                                </StackLayout>
                                            </StackLayout>
                                            <StackLayout width="100%" height="0.5px" backgroundColor="#636363" class="ml-50">
                                            </StackLayout>
                                        <!--</StackLayout>-->
                                        </GridLayout>
                                    </ng-template>
                                </ListView>
                            </GridLayout>
                        </RadListView>
                    </StackLayout>

                    <!--...VISITED OR THERE NOW......END.... -->

                    <!--...SHARE OPTONS DIALOG......START.... -->
                    <StackLayout id="share-dialog-view" orientation="vertical" width="100%" height="100%" padding="15" [visibility]="'collapsed'">
                        <StackLayout orientation="vertical" backgroundColor="#FFFAFA" borderRadius="10">
                            <Label text="Share Options" fontSize="14" horizontalAlignment="center" verticalAlignment="middle" color="#38383A" class="p-t-15 p-b-15">
                            </Label>
                            <StackLayout height="1px" backgroundColor="#636363"></StackLayout>
                            <StackLayout width="100%" (tap)="onTapShareOptions('public')">
                                <Label text="Public" fontSize="21" textAlign="center" horizontalAlignment="center" verticalAlignment="middle" class="p-t-10 p-b-5 color-blue">
                                </Label>
                                <Label text="(Published with a 5 minute delay)" fontSize="13" textAlign="center" horizontalAlignment="center" verticalAlignment="middle"
                                       class="p-b-10 color-blue">
                                </Label>
                            </StackLayout>
                            <StackLayout height="1px" backgroundColor="#636363"></StackLayout>
                            <AbsoluteLayout width="100%" (tap)="onTapShareOptions('Mutual Followers')">
                                <StackLayout width="100%">
                                    <Label text="Mutual Followers" fontSize="21" textAlign="center" horizontalAlignment="center" verticalAlignment="middle" class="p-t-10 p-b-5 color-blue">
                                    </Label>
                                    <Label text="(LIVE)" fontSize="13" textAlign="center" horizontalAlignment="center" verticalAlignment="middle" class="p-b-10 color-blue">
                                    </Label>
                                </StackLayout>
                                <StackLayout width="100%">
                                    <Label text="1" fontSize="16" horizontalAlignment="right" verticalAlignment="middle" class="text-center bold color-white img-circle-three m-t-15 mr-25"
                                           backgroundColor="#FF1493">
                                    </Label>
                                </StackLayout>
                            </AbsoluteLayout>
                            <StackLayout height="1px" backgroundColor="#636363"></StackLayout>
                            <StackLayout width="100%" (tap)="onTapShareOptions('Private')">
                                <Label text="Private" fontSize="21" textAlign="center" horizontalAlignment="center" verticalAlignment="middle" class="p-t-15 p-b-15 color-blue">
                                </Label>
                            </StackLayout>

                        </StackLayout>

                        <StackLayout height="4%"></StackLayout>

                        <Button width="100%" height="15%" text="Cancel" fontSize="21" textAlign="center" textTransform="capitalize" class="p-t-10 p-b-10 color-blue"
                                backgroundColor="#FFFAFA" borderRadius="10" (tap)="onTapShareOptions('Cancel')"></Button>

                    </StackLayout>
                    <!--...SHARE OPTONS DIALOG......END.... -->

<!--                    <GridLayout top="0" left="0" width="100%" height="40%" (tap)="goToPreviousRoute()">
                    </GridLayout>-->

                </AbsoluteLayout>
                <!--....Edited....By...Gopal...END.... -->
                <!--<RadListView showOverNavigation="false">-->
                <GridLayout id="main-view" rows="auto, *, auto, auto, auto, auto, auto, auto, auto, auto" class="color-white" columns="*"
                            [gradient]="[60,0,0,0]" [endColor]="[180,0,0,0]" (swipe)="onSwipe($event)" [visibility]="'collapsed'">
                    <!-- [visibility] = "displayScrollView ? 'collapsed' : 'visible'"> -->

                    <GridLayout row="0" rows="auto" columns="*">
                        <Label horizontalAlignment="center" class="h3 open-until color-black mt-65" [formattedText]="establishment | formatHour"
                               row="0">
                        </Label>
                    </GridLayout>

            <!--GridLayout
        row  = "1"
        rows = "*">
        <Image
            *ngIf             = "!(establishment && establishment.photos && establishment.photos.length)"
            verticalAlignment = "bottom"
            width             = "100px"
            row               = "0"
            row               = "0"
            class             = "m-b-5 m-t-5"
            [src]             = "establishment | category: 'url'">
        </Image>
    </GridLayout-->
            <!--...BOTTOM NAME, ADDRESS....VIEW... -->
                    <Label row="2" [text]="establishment.name" class="grotesque-bold bold p-l-15 p-r-15 text-center" fontSize="22" textWrap="false"
                           verticalAlignment="middle" horizontalAlignment="center">
                    </Label>
                    <GridLayout rows="auto" verticalAlignment="middle" columns="*, auto, auto, *" row="3">
                        <Label text="" row="0" col="0">
                        </Label>
                        <StackLayout col="1" row="0" class="m-r-5 category-icon">
                            <Image stretch="fill" [src]="establishment | category: 'url'">
                            </Image>
                        </StackLayout>
                        <Label [text]="establishment | category" col="2" row="0" horizontalAlignment="center" verticalAlignment="middle" class="h3 bold m-t-10 m-b-10"
                            textWrap="true">
                        </Label>
                        <Label text="" row="0" col="3">
                        </Label>
                    </GridLayout>
                    <Label [text]="establishment.address" row="4" horizontalAlignment="center" class="h3 p-l-15 p-r-15 text-center address" textWrap="true">
                    </Label>
                    <StackLayout row="5" class="m-t-5" orientation="vertical">
                        <GridLayout *ngIf="stats && stats.gender" rows="auto, auto" class="info-container m-l-10 m-r-10 p-b-10" columns="*">
                            <Label text="Gender" row="0" width="100%" class="p-t-10 p-b-10 info-label color-black title m-b-5" horizontalAlignment="center"
                               textWrap="true"></Label>
                            <GridLayout *ngIf="stats.gender && stats.gender.female >= 0" rows="auto, auto" class="m-l-10 m-r-10" row="1" columns="50px, *, 50px">
                                <Label row="0" col="0" text="#" class="fi color-blue icon" textWrap="true">
                                </Label>
                                <Label row="0" col="1" [text]="stats | genderText" verticalAlignment="center" class="h3 color-dark-blue text-center" textWrap="true">
                                </Label>
                                <Label row="0" col="2" text='"' class="fi icon text-right color-pink" textWrap="true">
                                </Label>
                                <Label row="1" col="0" [text]="(100 - stats.gender.female) + '%'" verticalAlignment="center" class="data color-black" textWrap="true">
                                </Label>
                                <GridLayout verticalAlignment="center" row="1" col="1" class="m-l-10 m-r-10" rows="auto" columns="auto">
                                    <Label row="0" width="100%" height="15px" class="men">
                                    </Label>
                                    <Label horizontalAlignment="right" row="0" [width]="stats.gender.female > 0 ? stats.gender.female + '%' : '0'" height="15px"
                                        class="bg-pink">
                                    </Label>
                                </GridLayout>
                                <Label row="1" col="2" [text]="stats.gender.female + '%'" class="text-right data color-black" verticalAlignment="center"
                                       textWrap="true">
                                </Label>
                            </GridLayout>
                        </GridLayout>
                <!--Label
                text="Powered By  &#xf180;  Foursquare"
                class="fa text-center m-b-5 h3">
                </Label-->
                    </StackLayout>
                    <Button row="6" horizontalAlignment="center" class="share-btn" (tap)="openShare()">
                        <FormattedString>
                            <Span
                                text            = "&#xf08b;"
                                fontSize        = "16"
                                [fontFamily]    = "!page.android ? 'FontAwesome' : 'FontAwesome, fontawesome-webfont'"
                                foregroundColor = "#00D202">
                            </Span>
                            <Span
                                foregroundColor = "#fff"
                                fontSize        = "16"
                                fontAttributes  = "Bold"
                                text            = " Share">
                            </Span>
                        </FormattedString>
                    </Button>
                    <StackLayout *ngIf="visits && visits.length" horizontalAlignment="center" orientation="horizontal" row="7" class="account-images m-b-5">
                        <Label *ngFor="let visit of visits" class="img-circle img" [gradient]="'#EF0792'" [endColor]="'#EF074A'" [borderRadius]="25"
                            [disableGradient]="visit && visit.account && visit.account.photo && visit.account.photo.path" [ngStyle]="{'background-image':  visit.account | accountUrl: 'background-img'}"
                            (tap)="goToProfile(visit.account.id)">
                        </Label>
                    </StackLayout>
                    <Label *ngIf="visits && visits.length > 0" horizontalAlignment="center" row="8" class="h3" textWrap="true">
                        <FormattedString>
                            <Span
                                [text]         = "visitCount"
                                fontAttributes = "Bold">
                            </Span>
                            <Span
                                [text] = "visitCount === 1 ? ' person here in the last ' : ' people here in the last '">
                            </Span>
                            <Span
                                text           = "7 days"
                                fontAttributes = "Bold">
                            </Span>
                        </FormattedString>
                    </Label>
                    <Label width="100%" row="9" text="&#xf063;" class="fa p-t-5 p-b-10 text-center" textWrap="true" (tap)="nextScreen()">
                    </Label>
                </GridLayout>
    <!--</RadListView>-->
                <ScrollView id="scroll-view" [visibility]="displayScrollView ? 'visible' : 'collapsed'" height="100%" orientation="vertical"
                (swipe)="onSwipe($event)" width="100%">
                    <StackLayout class="mt-65" row="0">
            <!--GridLayout
    *ngIf = "establishment.photos && establishment.photos.length"
    rows  = "auto, auto, auto"
    class = "info-container m-l-10 m-r-10">
    <Label
        text                = "Pictures"
        row                 = "0"
        width               = "100%"
        class               = "p-t-10 p-b-10 info-label color-black title m-b-15"
        horizontalAlignment = "center"
        textWrap            = "true">
    </Label>
    <FlexboxLayout
        row            = "1"
        justifyContent = "flex-start"
        alignContent   = "center"
        flexWrap       = "wrap"
        flexDirection  = "row">
        <Image
            *ngFor = "let photo of establishment.photos; let i = index"
            rows   = "auto"
            stretch="fill"
            class  = "image-item"
            width="23%"
            height="90px"
            [src] = "establishment | establishmentUrl: 'normal': i">
        </Image>
    </FlexboxLayout>
    <Label
        text                = "Load More"
        row                 = "2"
        class               = "p-t-10 p-b-10 color-black title"
        horizontalAlignment = "center"
        textWrap            = "true"
        (tap)               = "displayGallery(0)"></Label>
    </GridLayout-->
                        <GridLayout *ngIf="establishment && establishment.pricing" rows="auto, auto" class="info-container m-l-10 m-r-10 p-b-15"
                                columns="*">
                            <Label text="Price Range" row="0" width="100%" class="p-t-10 p-b-10 info-label color-black title m-b-5" horizontalAlignment="center"
                               textWrap="true">
                            </Label>
                            <GridLayout rows="auto, auto" class="m-l-10 m-r-10" row="1" columns="50px, *, 50px">
                                <Label row="0" col="0" text="?" class="fi icon color-black" textWrap="true">
                                </Label>
                                <Label row="0" col="1" [text]="establishment | priceRange" verticalAlignment="center" class="h3 color-dark-blue text-center"
                                       textWrap="true">
                                    </Label>
                                <Label row="0" col="2" text="@" class="fi text-right icon color-black" textWrap="true">
                                </Label>
                                <Label row="1" col="0" text="$" class="data color-black" textWrap="true">
                                </Label>
                                <GridLayout verticalAlignment="center" row="1" col="1" class="m-l-10 m-r-10" rows="auto" columns="auto">
                                    <Label row="0" width="100%" height="15px" class="graph-gray">
                                    </Label>
                                    <Label horizontalAlignment="left" row="0" [width]="establishment.pricing * 25 + '%'" height="15px" class="cost">
                                    </Label>
                                </GridLayout>
                                <Label row="1" col="2" text="$$$$" class="text-right data color-black" verticalAligment="center" textWrap="true">
                                </Label>
                            </GridLayout>
                        </GridLayout>
                        <GridLayout *ngIf="stats && stats.heatHours && stats.heatHours.length" rows="auto, auto, auto" class="info-container m-l-10 m-r-10 p-b-5">
                            <Label text="Heating Hours" row="0" width="100%" class="p-t-10 p-b-10 info-label color-black title m-b-m9" horizontalAlignment="center"
                               textWrap="true">
                            </Label>
                            <Carousel id="carousel" (pageChanged)="onCarouselPageChange($event)" [selectedPage]="dayOfWeek" row="1" height="150px" showIndicator="false">
                                <CarouselItem backgroundColor="#00FFFFFF" class="graph-container" height="170px">
                                    <GridLayout rows="150px" columns="*">
                                        <RadCartesianChart id="sun" row="0" height="150px" backgroundColor="transparent" class="center-graph android-heat" showLabels="false">
                                            <SplineAreaSeries tkCartesianSeries selectionMode="None" seriesName="Area" [items]="stats.heatHours[0]" categoryProperty="hour"
                                                              valueProperty="popular" stackMode="None">
                                            </SplineAreaSeries>
                                            <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="false" horizontalStripLinesVisible="false" horizontalStrokeWidth="1"
                                                                   horizontalStrokeColor="#000" verticalLinesVisible="true" verticalStripLinesVisible="false"
                                                                   verticalStrokeColor="#a0a0a0" verticalStrokeWidth="1">
                                            </RadCartesianChartGrid>
                                            <CategoricalAxis tkCartesianHorizontalAxis labelTextColor="#000" labelSize="10" lineThickness="1" lineColor="#a0a0a0">
                                            </CategoricalAxis>
                                            <LinearAxis tkCartesianVerticalAxis [maximum]="getBiggestHeat(0)" lineThickness="1" hidden="true" horizontalLocation="Right"
                                                        lineHidden="false">
                                            </LinearAxis>
                                            <Palette tkCartesianPalette showLabels="false" seriesName="Area">
                                                <PaletteEntry tkCartesianPaletteEntry fillColor="#FF007F" strokeColor="#FF0049">
                                                </PaletteEntry>
                                            </Palette>
                                        </RadCartesianChart>
                                    </GridLayout>
                                </CarouselItem>
                                <CarouselItem backgroundColor="#00FFFFFF" class="graph-container" height="170px">
                                    <GridLayout rows="150px" columns="*">
                                        <RadCartesianChart id="mon" row="0" height="150px" backgroundColor="transparent" class="center-graph android-heat" showLabels="false">
                                            <SplineAreaSeries tkCartesianSeries selectionMode="None" seriesName="Area" [items]="stats.heatHours[1]" categoryProperty="hour"
                                                              valueProperty="popular" stackMode="None">
                                            </SplineAreaSeries>
                                            <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="false" horizontalStripLinesVisible="false" horizontalStrokeWidth="1"
                                                                   horizontalStrokeColor="#000" verticalLinesVisible="true" verticalStripLinesVisible="false"
                                                                   verticalStrokeColor="#a0a0a0" verticalStrokeWidth="1">
                                            </RadCartesianChartGrid>
                                            <CategoricalAxis tkCartesianHorizontalAxis labelTextColor="#000" labelSize="10" lineThickness="1" lineColor="#a0a0a0">
                                            </CategoricalAxis>
                                            <LinearAxis tkCartesianVerticalAxis [maximum]="getBiggestHeat(1)" lineThickness="1" hidden="true" horizontalLocation="Right"
                                                        lineHidden="false">
                                            </LinearAxis>
                                            <Palette tkCartesianPalette showLabels="false" seriesName="Area">
                                                <PaletteEntry tkCartesianPaletteEntry fillColor="#FF007F" strokeColor="#FF0049">
                                                </PaletteEntry>
                                            </Palette>
                                        </RadCartesianChart>
                                    </GridLayout>
                                </CarouselItem>
                                <CarouselItem backgroundColor="#00FFFFFF" class="graph-container" height="170px">
                                    <GridLayout rows="150px" columns="*">
                                        <RadCartesianChart id="tue" row="0" height="150px" backgroundColor="transparent" class="center-graph android-heat" showLabels="false">
                                            <SplineAreaSeries tkCartesianSeries selectionMode="None" seriesName="Area" [items]="stats.heatHours[2]" categoryProperty="hour"
                                                              valueProperty="popular" stackMode="None">
                                            </SplineAreaSeries>
                                            <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="false" horizontalStripLinesVisible="false" horizontalStrokeWidth="1"
                                                                   horizontalStrokeColor="#000" verticalLinesVisible="true" verticalStripLinesVisible="false"
                                                                   verticalStrokeColor="#a0a0a0" verticalStrokeWidth="1">
                                            </RadCartesianChartGrid>
                                            <CategoricalAxis tkCartesianHorizontalAxis labelTextColor="#000" labelSize="10" lineThickness="1" lineColor="#a0a0a0">
                                            </CategoricalAxis>
                                            <LinearAxis tkCartesianVerticalAxis [maximum]="getBiggestHeat(2)" lineThickness="1" hidden="true" horizontalLocation="Right"
                                                        lineHidden="false">
                                            </LinearAxis>
                                            <Palette tkCartesianPalette showLabels="false" seriesName="Area">
                                                <PaletteEntry tkCartesianPaletteEntry fillColor="#FF007F" strokeColor="#FF0049">
                                                </PaletteEntry>
                                            </Palette>
                                        </RadCartesianChart>
                                    </GridLayout>
                                </CarouselItem>
                                <CarouselItem backgroundColor="#00FFFFFF" class="graph-container" height="170px">
                                    <GridLayout rows="150px" columns="*">
                                        <RadCartesianChart id="wed" row="0" height="150px" backgroundColor="transparent" class="center-graph android-heat" showLabels="false">
                                            <SplineAreaSeries tkCartesianSeries selectionMode="None" seriesName="Area" [items]="stats.heatHours[3]" categoryProperty="hour"
                                                              valueProperty="popular" stackMode="None">
                                            </SplineAreaSeries>
                                            <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="false" horizontalStripLinesVisible="false" horizontalStrokeWidth="1"
                                                                   horizontalStrokeColor="#000" verticalLinesVisible="true" verticalStripLinesVisible="false"
                                                                   verticalStrokeColor="#a0a0a0" verticalStrokeWidth="1">
                                            </RadCartesianChartGrid>
                                            <CategoricalAxis tkCartesianHorizontalAxis labelTextColor="#000" labelSize="10" lineThickness="1" lineColor="#a0a0a0">
                                            </CategoricalAxis>
                                            <LinearAxis tkCartesianVerticalAxis [maximum]="getBiggestHeat(3)" lineThickness="1" hidden="true" horizontalLocation="Right"
                                                        lineHidden="false">
                                            </LinearAxis>
                                            <Palette tkCartesianPalette showLabels="false" seriesName="Area">
                                                <PaletteEntry tkCartesianPaletteEntry fillColor="#FF007F" strokeColor="#FF0049">
                                                </PaletteEntry>
                                            </Palette>
                                        </RadCartesianChart>
                                    </GridLayout>
                                </CarouselItem>
                                <CarouselItem backgroundColor="#00FFFFFF" class="graph-container" height="170px">
                                    <GridLayout rows="150px" columns="*">
                                        <RadCartesianChart id="thu" row="0" height="150px" backgroundColor="transparent" class="center-graph android-heat" showLabels="false">
                                            <SplineAreaSeries tkCartesianSeries selectionMode="None" seriesName="Area" [items]="stats.heatHours[4]" categoryProperty="hour"
                                                              valueProperty="popular" stackMode="None">
                                            </SplineAreaSeries>
                                            <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="false" horizontalStripLinesVisible="false" horizontalStrokeWidth="1"
                                                                   horizontalStrokeColor="#000" verticalLinesVisible="true" verticalStripLinesVisible="false"
                                                                   verticalStrokeColor="#a0a0a0" verticalStrokeWidth="1">
                                            </RadCartesianChartGrid>
                                            <CategoricalAxis tkCartesianHorizontalAxis labelTextColor="#000" labelSize="10" lineThickness="1" lineColor="#a0a0a0">
                                            </CategoricalAxis>
                                            <LinearAxis tkCartesianVerticalAxis [maximum]="getBiggestHeat(4)" lineThickness="1" hidden="true" horizontalLocation="Right"
                                                        lineHidden="false">
                                            </LinearAxis>
                                            <Palette tkCartesianPalette showLabels="false" seriesName="Area">
                                                <PaletteEntry tkCartesianPaletteEntry fillColor="#FF007F" strokeColor="#FF0049">
                                                </PaletteEntry>
                                            </Palette>
                                        </RadCartesianChart>
                                    </GridLayout>
                                </CarouselItem>
                                <CarouselItem backgroundColor="#00FFFFFF" class="graph-container" height="170px">
                                    <GridLayout rows="150px" columns="*">
                                        <RadCartesianChart id="fri" row="0" height="150px" backgroundColor="transparent" class="center-graph android-heat" showLabels="false">
                                            <SplineAreaSeries tkCartesianSeries selectionMode="None" seriesName="Area" [items]="stats.heatHours[5]" categoryProperty="hour"
                                                              valueProperty="popular" stackMode="None">
                                            </SplineAreaSeries>
                                            <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="false" horizontalStripLinesVisible="false" horizontalStrokeWidth="1"
                                                                   horizontalStrokeColor="#000" verticalLinesVisible="true" verticalStripLinesVisible="false"
                                                                   verticalStrokeColor="#a0a0a0" verticalStrokeWidth="1">
                                            </RadCartesianChartGrid>
                                            <CategoricalAxis tkCartesianHorizontalAxis labelTextColor="#000" labelSize="10" lineThickness="1" lineColor="#a0a0a0">
                                            </CategoricalAxis>
                                            <LinearAxis tkCartesianVerticalAxis [maximum]="getBiggestHeat(5)" lineThickness="1" hidden="true" horizontalLocation="Right"
                                                        lineHidden="false">
                                            </LinearAxis>
                                            <Palette tkCartesianPalette showLabels="false" seriesName="Area">
                                                <PaletteEntry tkCartesianPaletteEntry fillColor="#FF007F" strokeColor="#FF0049">
                                                </PaletteEntry>
                                            </Palette>
                                        </RadCartesianChart>
                                    </GridLayout>
                                </CarouselItem>
                                <CarouselItem backgroundColor="#00FFFFFF" class="graph-container" height="170px">
                                    <GridLayout rows="150px" columns="*">
                                        <RadCartesianChart id="sat" row="0" height="150px" backgroundColor="transparent" class="center-graph android-heat" showLabels="false">
                                            <SplineAreaSeries tkCartesianSeries selectionMode="None" seriesName="Area" [items]="stats.heatHours[6]" categoryProperty="hour"
                                                              valueProperty="popular" stackMode="None">
                                            </SplineAreaSeries>
                                            <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="false" horizontalStripLinesVisible="false" horizontalStrokeWidth="1"
                                                                   horizontalStrokeColor="#000" verticalLinesVisible="true" verticalStripLinesVisible="false"
                                                                   verticalStrokeColor="#a0a0a0" verticalStrokeWidth="1">
                                            </RadCartesianChartGrid>
                                            <CategoricalAxis tkCartesianHorizontalAxis labelTextColor="#000" labelSize="10" lineThickness="1" lineColor="#a0a0a0">
                                            </CategoricalAxis>
                                            <LinearAxis tkCartesianVerticalAxis [maximum]="getBiggestHeat(6)" lineThickness="1" hidden="true" horizontalLocation="Right"
                                                        lineHidden="false">
                                            </LinearAxis>
                                            <Palette tkCartesianPalette showLabels="false" seriesName="Area">
                                                <PaletteEntry tkCartesianPaletteEntry fillColor="#FF007F" strokeColor="#FF0049">
                                                </PaletteEntry>
                                            </Palette>
                                        </RadCartesianChart>
                                    </GridLayout>
                                </CarouselItem>
                            </Carousel>
                            <GridLayout row="2" rows="auto" class="m-b-10" columns="*, *, *, *, *, *, *">
                                <GridLayout *ngFor="let day of days; let i = index;" class="day" [ngClass]="{selected: i === dayOfWeek}" [col]="i">
                                    <Label class="h4 m-t-5" textWrap="true" [text]="day">
                                    </Label>
                                </GridLayout>
                            </GridLayout>
                        </GridLayout>
                        <GridLayout *ngIf="stats && stats.crowd" rows="auto, auto" class="info-container m-l-10 m-r-10 p-b-15" columns="*">
                            <Label text="Crowdiness" row="0" width="100%" class="p-t-10 p-b-10 info-label color-black title m-b-5" horizontalAlignment="center"
                               textWrap="true">
                            </Label>
                            <GridLayout rows="auto, auto" class="m-l-10 m-r-10" row="1" columns="50px, *, 50px">
                                <Label row="0" col="0" text="#" class="fi icon color-purple" textWrap="true">
                                </Label>
                                <Label row="0" col="1" [text]="stats | crowd: 'scale'" class="h3 color-dark-blue text-center" verticalAlignment="center"
                                       textWrap="true">
                                </Label>
                                <Label row="0" col="2" text="$" class="fi icon text-right color-purple" textWrap="true">
                                </Label>
                                <Label verticalAlignment="center" row="1" col="0" text="0" class="data color-black" textWrap="true">
                                </Label>
                                <GridLayout verticalAlignment="center" row="1" col="1" class="m-l-10 m-r-10" rows="auto" columns="auto">
                                    <Label row="0" width="100%" height="15px" class="graph-gray">
                                    </Label>
                                    <Label horizontalAlignment="left" row="0" [width]="stats | crowd : 'percent'" height="15px" class="bg-pink">
                                    </Label>
                                </GridLayout>
                                <Label row="1" col="2" [text]="stats.crowd.current" class="text-right data color-black" textWrap="true">
                                </Label>
                            </GridLayout>
                        </GridLayout>
                        <GridLayout *ngIf="stats && stats.time && stats.time.min > 0" rows="auto, auto" class="info-container m-l-10 m-r-10 p-b-15"
                            columns="*">
                            <Label text="Average Time Spent" row="0" width="100%" class="p-t-10 p-b-10 info-label color-black title m-b-5" horizontalAlignment="center"
                               textWrap="true">
                            </Label>
                            <GridLayout rows="auto, auto" class="m-l-10 m-r-10" row="1" columns="50px, *, 50px">
                                <Label row="0" col="0" text="*" class="fi icon color-purple" textWrap="true">
                                </Label>
                                <Label row="0" col="1" [text]="stats | timeSpent: 'average'" class="h3 color-dark-blue text-center" verticalAlignment="center"
                                       textWrap="true"></Label>
                                <Label row="0" col="2" text="+" class="fi icon text-right color-purple" textWrap="true">
                                </Label>
                                <Label row="1" col="0" [text]="stats | timeSpent: 'min'" class="data color-black" verticalAlignment="center" textWrap="true">
                                </Label>
                                <GridLayout verticalAlignment="center" row="1" col="1" class="m-l-10 m-r-10" rows="auto" columns="auto">
                                    <Label row="0" width="100%" height="15px" class="graph-gray">
                                    </Label>
                                    <Label horizontalAlignment="left" row="0" width="50%" height="15px" class="bg-pink">
                                    </Label>
                                    <Label [text]="stats | timeSpent: 'duration'" class="time-label h4 text-center" textWrap="true">
                                    </Label>
                                </GridLayout>
                                <Label row="1" col="2" [text]="stats | timeSpent: 'max'" class="text-right data color-black" verticalAlignment="center" textWrap="true">
                                </Label>
                            </GridLayout>
                        </GridLayout>
                        <GridLayout *ngIf="stats && stats.displayAges" rows="auto, auto" class="info-container m-b-20 m-l-10 m-r-10" columns="*">
                            <Label text="Age Ranges" row="0" width="100%" class="p-t-10 p-b-10 info-label color-black title m-b-m9" horizontalAlignment="center"
                               textWrap="true">
                            </Label>
                            <GridLayout rows="150px" row="1" columns="*">
                                <RadCartesianChart width="100%" height="150px" row="0" class="graph android-ages" showLabels="false">
                                    <CategoricalAxis tkCartesianHorizontalAxis labelTextColor="#000" labelSize="10" lineThickness="3" lineColor="#a0a0a0">
                                    </CategoricalAxis>
                                    <LinearAxis tkCartesianVerticalAxis [maximum]="getBiggestAge()" hidden="true" horizontalLocation="Left" lineHidden="true">
                                    </LinearAxis>
                                    <BarSeries tkCartesianSeries showLabel="false" seriesName="age" [items]="stats.ages" categoryProperty="age" valueProperty="ageCount"
                                               showLabels="false">
                                    </BarSeries>
                                    <Palette tkCartesianPalette seriesName="age">
                                        <PaletteEntry tkCartesianPaletteEntry fillColor="#FF0093" strokeColor="#FF0093">
                                        </PaletteEntry>
                                    </Palette>
                                    <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="false" verticalLinesVisible="true" horizontalStripLinesVisible="false"
                                                           verticalStripLinesVisible="false" verticalStrokeColor="#A0A0A0" verticalStrokeWidth="1">
                                    </RadCartesianChartGrid>
                                </RadCartesianChart>
                            </GridLayout>
                        </GridLayout>
                    </StackLayout>
                </ScrollView>
            </StackLayout>
<!--...TOP...BACK....AND...NAME...VIEW... -->
<!-- <GridLayout
top        = "0"
left       = "0"
width      = "100%"
height     = "60px"
rows       = "auto"
marginTop  = "10px"
columns    = "70px, *, 70px">
<Button
row   = "0"
col   = "0"
text  = "&#xE5D8;"
class = "gi btn-black btn-sm"
(tap) = "previousScreen()" >
</Button>
<GridLayout
col   = "1"
class = "top-label" >
<Label
    row                 = "0"
    column              = "0"
    horizontalAlignment = "center"
    verticalAlignment   = "middle"
    class               = "text-center bold color-white h3 p-l-15 p-r-15"
    [text]              = "establishment.name" >
</Label>
</GridLayout>
<Button
row   = "0"
col   = "2"
text  = "&#xE55B;"
class = "gi btn-black btn-sm"
(tap) = "goToMap()">
</Button>
</GridLayout> -->
        <!--</AbsoluteLayout>-->
        <AppNotificationsComponent width="100%" height="20%" verticalAlignment="top" [custom]="false" [name]="'establishment-notifications'">
        </AppNotificationsComponent>
        <ShareComponent width="100%" height="100%" [show]="share.enabled" [establishment]="establishment" [notificationsName]="'establishment-notifications'"
                        (close)="closeShare()">
        </ShareComponent>
        <!-- <Disconnection>
        </Disconnection> -->
</GridLayout>
<!--</RadListView>-->