.top-space {
  top: 15%;
}

.left-space {
  left:20px;
}

.est-card-width {
  width: 81%;
}

.back {
    margin-top: 3%;
    margin-left: 5%;
}

.img-circle {
    height: 164;
    width: 164;
    border-radius: 82;
    /*background-color: red;*/
}

.search {
    margin-top: 85%;
    margin-left: 5%;
}

.establishment-card {
    width: 100px;
}

.map-bottom-menu {
    margin-top: 100%;
}

.more-space {
}

.night {
}

.bold {
    font-weight: bold;
}

.near {
    margin-top: 71%;
    margin-left: 2%;
    color: #fff;
}

.user {
    width: 100px !important;
    height: 100px !important;
    border-radius: 5px !important;
}

.background-img {
    height: 200px;
}

.address {
    color: #FFF;
}

.item-list {
    height: 50%;
    width: 23%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #000;
    color: #fff;
}

.list {
    height: 15%;
}

.share-btn {
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: #fff;
    border-width: 2px;
    border-color: #fff;
    font-size: 20px;
    border-radius: 17.5px;
    text-align: center;
    vertical-align: center;
    padding: 0px;
}

.test-font-size {
    font-size: 30px;
    padding: 0px;
}

.font-20 {
    font-size: 20px;
}

.checkin-container {
  height: 90px;
  width: 90%;
  margin-bottom: 20px;
  vertical-align: bottom;
}

.checkin-label Label {
  color: white;
}

.reject-message {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 59px;
  padding: 10px;
  border-radius: 10px;
}

.arrow {
    font-size: 16;
    color: #fff;
}

.rank {
    padding: 0px 0;
}

.xs-border-radius {
    border-radius: 5px;
    overflow: hidden;
}

.card-title {
    font-size: 15;
}

.sideStackLayout {
    background-color: black;
}
