.img-circle {
    height: 40;
    width: 40;
    border-radius: 20;
    /*background-color: red;*/
}

.est-card-width {
  width: 84%;
}

.top-space {
  top: 9%;
}

.left-space {
  left:170%;
}
.bold {
  font-weight: bold;
}
.card-title{margin-left:25}