<StackLayout class="profile">
    <GridLayout rows="*" columns="auto, *" class="card">
        <StackLayout col="0" verticalAlignment="center" class="profile-img">
            <!-- <Image marginLeft="5" src="https://scontent.xx.fbcdn.net/v/t1.0-1/c141.0.480.480/p480x480/10354686_10150004552801856_220367501106153455_n.jpg?oh=09dfd8cde07f291f3bcfe13ac50f5ae7&oe=5A39ADB3"
                class="img-circle img"></Image> -->
            <Image marginLeft="5" [src]="(data.photo.path && data.photo.path != '') ? data.photo.path :defaultImage"
                class="img-circle img"></Image>
        </StackLayout>
        <GridLayout rows="*" paddingBottom="10" columns="*,auto" col="1" class="profile-details" borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent">
            <StackLayout verticalAlignment="center" col="0" class="text-name">
                <Label class="label-name" [text]="'@' + (data.displayName || data.username)" (tap)="getAccountDetail(data.id)"></Label>
                <Label class="label-text" [text]="data.displayName || data.username"></Label>
            </StackLayout>
            <StackLayout *ngIf="data.self" col="1" class="user-icon" verticalAlignment="center">
                <Label *ngIf="data.type === 'follower' && data.friendshipMutual == true" marginRight="10" (tap)="unfollowConfirmFromFollower(data)"
                    text="&#xE7FD;" class="gi" fontSize="20" color="#ffffff"></Label>
                <Label *ngIf="data.type === 'following'" (tap)="unfollowConfirm(data)" marginRight="10" text="&#xE7FD;" class="gi" fontSize="20"
                    color="#ffffff"></Label>
                <AbsoluteLayout *ngIf="data.friendshipMutual == false && data.type === 'follower'" (tap)="followUserBack(data)" marginRight="10">
                    <Label text="&#xE7FD;" class="gi" fontSize="20" color="#ffffff"></Label>
                    <Label text="&#xE145;" class="gi" top="3" left="14" fontSize="12" color="#ff0086"></Label>
                </AbsoluteLayout>
                <AbsoluteLayout *ngIf="data.type === 'follow' && followShow" (tap)="followUser(data)" marginRight="10">
                    <Label text="&#xE7FD;" class="gi" fontSize="20" color="#ffffff"></Label>
                    <Label text="&#xE145;" class="gi" top="3" left="14" fontSize="12" color="#ff0086"></Label>
                </AbsoluteLayout>
            </StackLayout>

            <StackLayout *ngIf="!data.self" col="1" class="user-icon" verticalAlignment="center">
                <AbsoluteLayout *ngIf="data.friendshipMutual == false && data.type === 'follower'" (tap)="followUserBack(data)" marginRight="10">
                    <Label text="&#xE7FD;" class="gi" fontSize="20" color="#ffffff"></Label>
                    <Label text="&#xE145;" class="gi" top="3" left="14" fontSize="12" color="#ff0086"></Label>
                </AbsoluteLayout>
                <AbsoluteLayout *ngIf="data.type === 'follow' && followShow" (tap)="followUser(data)" marginRight="10">
                    <Label text="&#xE7FD;" class="gi" fontSize="20" color="#ffffff"></Label>
                    <Label text="&#xE145;" class="gi" top="3" left="14" fontSize="12" color="#ff0086"></Label>
                </AbsoluteLayout>
            </StackLayout>

        </GridLayout>
    </GridLayout>
</StackLayout>
