<StackLayout backgroundColor="black" orientation="vertical">
    <ActionBar backgroundColor="black" class="action-bar">
        <GridLayout rows="1*" columns="1*,3*,1*">
            <Label class="label-cancel text-center" text="" visibility="hidden" row="0" col="0"></Label>
            <Label class="label-cancel text-center" fontWeight="bold" text="Post" row="0" col="1"></Label>
            <Label class="label-cancel" text="Cancel" row="0" col="2" (tap)="goToBack()"></Label>
        </GridLayout>
    </ActionBar>
    <StackLayout backgroundColor="black" orientation="vertical">
        <WrapLayout class="post-wrapper">
            <Label [text]="establishmentName" class="post-head"></Label>
            <Label [text]="establishmentAddress" class="post-text"></Label>
        </WrapLayout>
        <StackLayout orientation="horizontal" class="delete-checkin-wrapper">
            <Label text="Wrong location? or " style="font-size: 13;" color="white"></Label>
            <Label text="Delete Check-In?" (onTap)="onDeleteCheckInTap()" class="delete-checkin"></Label>
        </StackLayout>

    </StackLayout>
    <StackLayout orientation="horizontal" class="category-main" margin="0 10 10 10">
        <Label text="&#xE8B6;" class="gi" fontSize="20" color="#737373"></Label>
        <TextField class="search-et" hint="Search" style.placeholderColor="#737373"> </TextField>
    </StackLayout>

    <ListView separatorColor="transparent" [items]="establishmentsNearBy" height="100%" (itemLoading)="listViewItemLoading($event)">
        <ng-template let-item="item" let-i="index" nsTemplateKey="SEARCHITEM">
            <GridLayout width="100%" rows="*,*" columns="auto, *" class="p-t-5 p-b-5 category-icon-grid" (tap)=onItemTap(item)>
                <StackLayout col="0" rowSpan="2" verticalAlignment="center" marginLeft="20" class="m-lr-20 category-icon" borderWidth="0"
                    borderColor="transparent transparent transparent transparent">
                    <Image height="40" width="40" stretch="fill" verticalAlignment="center" [src]="item | establishmentUrl">
                    </Image>
                </StackLayout>
                <Label row="0" col="1" marginTop="6" class="clear" verticalAlignment="center">
                    <FormattedString>
                        <Span fontSize="15" [text]="item.name" fontWeight="Bold">
                        </Span>
                    </FormattedString>
                </Label>
                <Label row="1" col="1" class="clear-margin" marginBottom="12" verticalAlignment="center">
                    <FormattedString>
                        <Span fontSize="13" [text]="item.address">
                        </Span>
                    </FormattedString>
                </Label>
                <StacKLayout row="1" col="1" borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent"></StacKLayout>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>