<StackLayout orientation="vertical">
    <ActionBar title="" class="action-bar" style="background-color: black">
        <!-- <NavigationButton *ngIf="!isLogInAccount" icon="res://ic_back" (tap)="goToBack()"></NavigationButton> -->
        <StackLayout *ngIf="showUserProfile" orientation="horizontal" width="100%" textAlignment="center">
            <StackLayout width="8%" verticalAlignment="center">
                <Label text="&#xe314;" class="gi" color="white" (tap)="goToBack()" ios:horizontalAlignment="left" android:horizontalAlignment="left"
                    style="font-size: 20; font-weight: bold" *ngIf="!isLogInAccount"></Label>
            </StackLayout>
            <StackLayout verticalAlignment="center" width="77%" horizontalAlignment="center">
                <Label class="header" text="@{{currentAccount.displayName}}" textAlignment="center" horizontalAlignment="center" orientation="horizontal"></Label>
            </StackLayout>
            <StackLayout width="15%" verticalAlignment="center">
                <Label *ngIf="isLogInAccount" (tap)="openUserSetting()" height="100%" marginTop="20" class=" gi symbol-settings" text="&#xE8B8;"
                    verticalAlignment="center" ios:horizontalAlignment="right"></Label>
            </StackLayout>
        </StackLayout>
    </ActionBar>
    <GridLayout rows="auto,*, auto" class="profile">
        <AbsoluteLayout row="0">
            <app-notifications width="100%" height="20%" verticalAlignment="top" [custom]="true" [name]="'map-notifications'">
            </app-notifications>
            <ns-disconnection height="20%"></ns-disconnection>
        </AbsoluteLayout>
        <StackLayout row="1">
            <StackLayout *ngIf="showUserProfile">
                <StackLayout>
                    <Image [src]="currentAccount.photo.path" (onLoaded)="imageAvailable($event)" class="picture"></Image>
                    <Label [visibility]="currentAccount.username ? 'visible' : 'collapsed'" class="name" text="{{currentAccount.username}}" horizontalAlignment="center"></Label>
                    <Label class="hometown" text="{{currentAccount.hometown || currentAccount.fbHometown?.name || ''}}" horizontalAlignment="center"></Label>
                </StackLayout>

                <StackLayout height="45" width="90%" horizontalAlignment="center">
                    <ScrollView>
                        <Label class="bio" text="{{bio}}" horizontalAlignment="center"></Label>
                    </ScrollView>
                </StackLayout>

                <!-- <StackLayout orientation="horizontal" class="rectangle-3"> -->
                <GridLayout rows="auto" columns="auto,auto,auto,auto" class="rectangle-3">

                    <StackLayout class="followers" (tap)="followerUser()" col="0">
                        <Label [text]="followers.length"></Label>
                        <Label text="FOLLOWERS" class="label-subline"></Label>
                    </StackLayout>
                    <StackLayout class="followers" col="1" (tap)="followingUser()">
                        <Label [text]="currentAccount.friends.length"></Label>
                        <Label class="label-subline" text="FOLLOWING"></Label>
                    </StackLayout>
                    <StackLayout class="followers" col="2">
                        <Label [text]="points"></Label>
                        <Label class="label-subline" text="POINTS"></Label>
                    </StackLayout>
                    <StackLayout *ngIf="isLogInAccount" class="rectangle" col="3">
                        <Label text="Edit Profile" (tap)="editUser()" class="edit-profile" verticalAlignment="center">
                        </Label>
                    </StackLayout>
                    <StackLayout *ngIf="!isLogInAccount && isFriend" class="rectangle" col="3">
                        <Label text="Following" (tap)="unFollow()" class="edit-profile" verticalAlignment="center">
                        </Label>
                    </StackLayout>
                    <StackLayout *ngIf="!isLogInAccount && !isFriend" class="rectangle" col="3">
                        <Label text="Follow" (tap)="startFollow()" class="edit-profile" verticalAlignment="center">
                        </Label>
                    </StackLayout>
                </GridLayout>
                <!-- </StackLayout> -->

            </StackLayout>

            <StackLayout [visibility]="Isdata ? 'visible' : 'collapsed'">

                <ListView height="100%" id="lvMyPosts" [items]="visits" separatorColor="transparent" (itemLoading)="listViewItemLoading($event)"
                    class="radListView-background">
                    <ng-template let-myVisit="item">
                        <StackLayout>
                            <post-card [data]="myVisit" (action)="listViewCallbacks($event)"  ></post-card>
                        </StackLayout>
                    </ng-template>
                </ListView>

            </StackLayout>
        </StackLayout>

        <StackLayout row="2" style="color: white;">
            <!-- <BottomBar  [items]="items" [hide]="hidden" [titleState]="titleState" (loaded)="tabLoaded($event)" (tabSelected)="tabSelected($event)"
                    [inactiveColor]="inactiveColor" [accentColor]="accentColor" colored="true"></BottomBar> -->
            <GridLayout rows="auto" columns="*,*,*,*" class="tab-wrapper">
                <StackLayout col="0" class="symbol-text" (tap)="onClickPosts($event)">
                    <Image src="res://check" class="symbol-check"></Image>
                    <Label text="Posts"></Label>

                </StackLayout>
                <StackLayout col="1" class="symbol-text" (tap)="onClickDiscover($event)">
                    <Image src="res://trending" class="symbol-check"></Image>
                    <Label text="Discover"></Label>
                </StackLayout>
                <StackLayout col="2" class="symbol-text" (tap)="onClickNotification($event)">
                    <Image src="res://notifications" class="symbol-check"></Image>
                    <Label text="Notifications"></Label>
                </StackLayout>
                <StackLayout col="3" class="active symbol-text" (tap)="onClickUser($event)">
                    <Image src="res://user_active" class="symbol-check"></Image>
                    <Label text="Your Profile"></Label>
                </StackLayout>
            </GridLayout>

        </StackLayout>
    </GridLayout>
</StackLayout>