<ActionBar>
    <AbsoluteLayout>
        <Label width="100%" height="100%" textAlignment="center" text="Settings" class="action-bar-title"></Label>
        <Label class="gi label-pre text-center" height="100%" textAlignment="center"text="&#xE408;" (tap)="goToBack()"></Label>
    </AbsoluteLayout>

</ActionBar>
<ScrollView>

    <StackLayout class="page">

        <!-- <StackLayout class="line">
            <Label text="ACCOUNT" class="heading-top"></Label>
        </StackLayout>

        <StackLayout class="half-line">
            <Label text="Edit Profile" class="option"></Label>
        </StackLayout>

        <StackLayout class="full-line">
            <Label text="Change Passoword" class="option"></Label>
        </StackLayout> -->

        <StackLayout class="line">
            <Label text="OPTIONS" class="heading-top"></Label>
        </StackLayout>

        <StackLayout orientation="horizontal" class="half-line">
            <GridLayout rows="auto" columns="auto,*">
                <Label text="Display distance in" class="option" col="0"></Label>

                <StackLayout orientation="horizontal" horizontalAlignment="right" col="1">
                    <StackLayout id="meter" class="rectangle-6" [ngClass]="{selected: isSelected('meters')}" (tap)="onTapDistance('meters')">
                        <Label text="Meters" class="measure"></Label>
                    </StackLayout>
                    <StackLayout id="miles" class="rectangle-6" [ngClass]="{selected: isSelected('miles')}" (tap)="onTapDistance('miles')">
                        <Label text="Miles" class="measure"></Label>
                    </StackLayout>
                </StackLayout>
            </GridLayout>
        </StackLayout>

        <StackLayout class="half-line">
            <GridLayout rows="auto" columns="auto,*">
                <Label text="Location Services" class="option" col="0"></Label>
                <StackLayout orientation="horizontal" horizontalAlignment="right" col="1" class="rectangle">
                    <Switch class="switch1" #sShareLocation [(ngModel)]="accountSettings.shareLocation" (ngModelChange)="updateAccountSettings()">
                    </Switch>
                </StackLayout>
            </GridLayout>
        </StackLayout>

        <StackLayout class="full-line">
            <GridLayout rows="auto" columns="auto,*">
                <Label text="Notifications" class="option" col="0"></Label>
                <StackLayout orientation="horizontal" horizontalAlignment="right" col="1" class="rectangle">
                    <Switch class="switch1" #sNotifications [(ngModel)]="accountSettings.notifications" (ngModelChange)="updateAccountSettings()">
                    </Switch>
                </StackLayout>
            </GridLayout>
        </StackLayout>

        <StackLayout class="line">
            <Label text="ABOUT" class="heading"></Label>
        </StackLayout>

        <StackLayout class="half-line" (tap)="onTapPrivacyStatement()">
            <Label text="Privacy Statement" class="option"></Label>
        </StackLayout>

        <StackLayout class="full-line" (tap)="onTapTermsOfService()">
            <Label text="Terms of Service" class="option"></Label>
        </StackLayout>

        <StackLayout class="line">
            <Label text="" class="option"></Label>
        </StackLayout>

        <StackLayout class="full-line" (tap)="logout()">
            <Label text="Log Out" class="option"></Label>
        </StackLayout>

    </StackLayout>
</ScrollView>

<!-- <GridLayout width="100%" height="100%" rows="auto, auto, *, auto" class="settings-container">

        <StackLayout row="1" width="100%" class="settings-list">
            <GridLayout columns="auto, *, auto auto" class="settings-list-item-1">
                <Label col="0" verticalAlignment="center" text="Show distance in">
                </Label>
                <Label col="2" text="meters" class="distance" textWrap="true" [ngClass]="{selected: isSelected('meters')}" (tap)="onTapDistance('meters')">
                </Label>
                <Label col="3" text="miles" class="distance" textWrap="true" [ngClass]="{selected: isSelected('miles')}" (tap)="onTapDistance('miles')">
                </Label>
            </GridLayout>
            <GridLayout columns="auto, *, auto" class="settings-list-item-1">
                <Label col="0" verticalAlignment="center" text="Notifications">
                </Label>
                <Switch #sNotifications col="2" class="settings-list-item-switch" [(ngModel)]="accountSettings.notifications" (ngModelChange)="updateAccountSettings()">
                </Switch>
            </GridLayout>
            <GridLayout columns="auto, *, auto" class="settings-list-item-2">
                <Label col="0" verticalAlignment="center" text="Location Services">
                </Label>
                <Switch #sLocationServices col="2" class="settings-list-item-switch" [(ngModel)]="accountSettings.locationServices" (ngModelChange)="updateAccountSettings()">
                </Switch>
            </GridLayout>
            <GridLayout rows="*, 5px, *" columns="auto, *, auto" class="settings-list-item-3">
                <Label col="0" row="0" verticalAlignment="center" text="Share my Location">
                </Label>
                <Switch #sShareLocation col="2" row="0" class="settings-list-item-switch" [(ngModel)]="accountSettings.shareLocation" (ngModelChange)="updateAccountSettings()">
                </Switch>
                <Label *ngIf="accountSettings.shareLocation" text="Your friends can see your location and your visit history. You can their's as well, if they have they opted to share their location."
                class="description" colSpan="3" col="0" row="2" textWrap="true">
            </Label>
            <Label *ngIf="!accountSettings.shareLocation" class="description" colSpan="3" text="Your friends cannot see your location and your visit history. You cannot see their's as well. Please turn this settings on to share your location and history and view theirs."
            col="0" row="2" textWrap="true">
        </Label>
    </GridLayout>

    <GridLayout (tap)="onTapPrivacyStatement()" class="settings-list-item-5">
        <Label col="0" verticalAlignment="center" text="Privacy Statement">
        </Label>
    </GridLayout>
    <GridLayout (tap)="onTapTermsOfService()" class="settings-list-item-6">
        <Label col="0" verticalAlignment="center" text="Terms of service">
        </Label>
    </GridLayout>
    <GridLayout class="settings-list-item-6">
        <Label col="0" class="fa" verticalAlignment="center" text="Powered By  &#xf180;  Foursquare">
        </Label>
    </GridLayout>
</StackLayout>
<GridLayout row="3" class="logout-section">
    <Button text="Log Out" class="settings-btn" horizontalAlignment="center" verticalAlignment="center" (tap)="logout()">
    </Button>
</GridLayout>
</GridLayout>
<GridLayout *ngIf="showModal" width="100%" height="100%" class="settings-container">
    <AbsoluteLayout class="modal-container" width="100%">
        <GridLayout top="0" left="0" width="90%" rows="auto,auto,auto" class="form frequent-place-form">
            <StackLayout row="0" class="input-frequent">
                <Label text="Give the place a name" textWrap="true">
                </Label>
                <TextField hint="Home, Work, Gym..." autocorrect="false" [(ngModel)]="exclution.name">
                </TextField>
            </StackLayout>
            <StackLayout row="1">
                <Label text="Add a location" class="frequent-place-label" textWrap="true">
                </Label>
                <TextField hint="Search an Address" autocorrect="false" (ngModelChange)="onModelChanged()" [(ngModel)]="searchAddress">
                </TextField>
            </StackLayout>
            <Button row="2" class="frequent-btn" text="Save Place" (tap)="getGeopoint()">
            </Button>
            <StackLayout *ngIf="searchAddressResults.length > 0" class="search-results-container" row="2">
                <StackLayout *ngFor="let suggest of searchAddressResults" class="search-results" orientation="horizontal" (tap)="searchAddress = suggest; searchAddressResults = []">
                    <Label class="fa" marginRight="10px" text="&#xf041;">
                    </Label>
                    <Label [text]="suggest">
                    </Label>
                </StackLayout>
            </StackLayout>
        </GridLayout>
        <Button top="0" left="0" class="fa rounded close-frequent" text="&#xf00d;" (tap)="closeModal()">
        </Button>
    </AbsoluteLayout>
</GridLayout> -->
