.page{
    background-color: #000000;
}
.label-time{
    margin-right: 10;
    font-size:10;
     color:#737373;
     text-align: right
     }


.img{
    height: 42.78;
    width: 42.78;
    margin-right: 19.72;
    }
.img-margin{margin: 5 0 5 0}
.img-margin:first-child{margin: 5 0 5 0}
.list-group{margin:0 0 0 0;padding:0 0 0 0;}
.list-group-item{margin:0 10 0 10;padding:0 0 0 0;}
