<GridLayout
    rows="*, auto, auto, auto, *"
    columns="*"
    width="100%"
    height="100%"
    class="color-white"
    [gradient] = "'#EF0792'"
    [endColor] = "'#EF074A'">
    <Label
        row      = "1"
        text     = "Hi there!"
        class    = "h1 text-center m-b-30"
        fontSize = "30px"
        textWrap = "true">
    </Label>
    <Image
        width="80px"
        height="80px"
        row="2"
        src="~/images/Markers/grey/02marker_World-Restaurant.png">
    </Image>
    <Label
        class = "h3 text-center"
        row   = "3">
        <FormattedString>
            <Span
                fontSize = "18px"
                text     = "loading ">
            </Span>
            <Span
                fontSize        = "18px"
                underline       = "2"
                fontAttributes  = "Bold"
                text            = "Establishments">
            </Span>
            <Span
                fontSize = "18px"
                text     = " near you">
            </Span>
        </FormattedString>
    </Label>
    
</GridLayout>