.checkin-container {
  height: 90px;
  transform: translateY(-70px)
}

.checkin-label Label {
  color: white;
}

.reject-message {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 59px;
  padding: 10px;
  border-radius: 10px;
}