<GridLayout>
    <page-router-outlet></page-router-outlet>
    <VisitDetection></VisitDetection>
</GridLayout>
<!-- <GridLayout rows="*, auto" class="page">
    <StackLayout row="0" orientation="vertical">
        <page-router-outlet></page-router-outlet>
        <router-outlet></router-outlet>
    </StackLayout>
    <BottomBar row="1" [items]="items" [hide]="hidden" [titleState]="titleState" (loaded)="tabLoaded($event)" (tabSelected)="tabSelected($event)"
        [inactiveColor]="inactiveColor" [accentColor]="accentColor" colored="true"></BottomBar>
</GridLayout> -->
