ListView{background-color:black}
ListView:pressed{background-color: black}
ListView:hover{background-color: transparent}
ListView:focused{background-color: transparent}
.category-main{ 
    background-color: #000000;
    border-color:#737373;
    border-style: solid;
    margin-top:1;
}

    .category-tab{
    padding:3 0 3 0;
        background-color: #ff0086;
        color: #ffffff;
        text-align: center;
        width: 50%;
        border-top-width: 1;
        border-bottom-width: 1;
        border-right-width: 1;
        border-left-width: 1;
         border-color:#737373;
        border-style: solid;
        border-top-left-radius:15px;
        border-bottom-left-radius:15px;
        font-size: 20;
    }
    .category-tab1{
        padding:3 0 3 0;
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        width: 50%;
        border-top-width: 1;
        border-bottom-width: 1;
        border-right-width: 1;
        border-left-width: 1;
        border-color:#737373;
        border-style: solid;
        border-top-right-radius:15px;
        border-bottom-right-radius:15px;
        font-size: 20;
    }
   