<StackLayout
    row   = "3"
    class = "ic-container">
    <TextField
        hint        = "Enter your invitation code"
        class       = "text-center"
        [(ngModel)] = "invitCode"></TextField>
    <Button
        width     = "50%"
        text      = "Login"
        class     = "btn-bordered"
        (tap)     = "login()">
    </Button>
    <Label
        text      = "Request invitation"
        class     = "text-center ri-btn"
        marginTop = "40px"
        (tap)     = "goToRI()">
    </Label>
</StackLayout>