<StackLayout class="dialog" backgroundColor="black" padding="10">
	<Label text="More" backgroundColor="#e0e0e0" class="title" color="#b5b3b7" textAlignment="center"></Label>
	<Label text="Edit" (tap)="close('edit')" backgroundColor="#e0e0e0" class="action-btn" textAlignment="center"></Label>
	<Label text="Delete" (tap)="close('delete')" backgroundColor="#e0e0e0" class="action-btn actions" textAlignment="center"></Label>
	<Label text="Cancel" (tap)="close('cancel')" backgroundColor="white" textAlignment="center" class="cancel" marginTop="10"></Label>
</StackLayout>