



.label-cancel{
    color: #737373;
    font-size:15;
}
.label-title{
    color: #ffffff;
    font-size: 15;
 }
.label-done{
    color: #737373;
    font-size:15;  
 }

.outline {
    border-radius: 100%;
    border-width: 2;
	height: 98.93;
	width: 99.49;
}

.change-profile-photo {
	width: 162.63;
	color: #737373;
	font-family: "Basis Grotesque";
	font-size: 15;
	line-height: 14;
    text-align: center;
    margin: 26 0 46 0;
}

.textfield{
    border-color: transparent;
    border-width: 0.5;
    width: 227.14;
    padding: -5 0 -5 0;
    color: #FFFFFF;
    font-family: "Basis Grotesque";
    font-size: 15;
    
}
.textview{
    border-color: transparent;
    border-width: 0.5;
    width: 227.14;
    height: 100;
    color: #FFFFFF;
    font-family: "Basis Grotesque";
    font-size: 15;
}

.label {
	width: 70;
	color: #737373;
	font-family: "Basis Grotesque";
	font-size: 15;
    text-align: left;
}
.bio-label {
	width: 70;
	color: #737373;
	font-family: "Basis Grotesque";
	font-size: 15;
    text-align: left;
}

.line{
    border-width:0.5;
    border-color:transparent transparent #979797 transparent;
    border-style: solid;
    width:100%;
    padding: 15 20 15 20;
}

.frist-line{
    border-width:0.5;
    border-color:#979797 transparent;
    border-style: solid;
    width:100%;
    padding: 16 20 15 20;
}
