.label-title{
    color: #ffffff;
    font-size: 15;
    font-weight: bold;
 }
 .label-pre{
    color: #ffffff;
    font-size: 20;
    margin-left: 10; 
 }
 .label-fb{
    color: #ffffff;
    font-size: 15;
    margin: 15 0 15 10;
   }
 .fb-container{
    border-bottom-color:#979797;
    border-top-color: #979797;
    border-width: 0.5;
}
.suggested-container{
    border-bottom-color: #979797;;
    border-width: 0.5;
    margin: 0 0 5 0;
}
 .suggested-user{
    font-size: 13;
    border-width: 0.5;
    color: #737373;
    margin: 14 0 9 21;
 }
 .fb-img{
     margin-left: 20;
     padding: -2 0;
 }
