.friends-container {
    color: white;
    height: 60%;
    margin-top:41%;
    animation-name: friends-list-open;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

.black-background {
    background-color: #000;
}

.friends-title {
    font-size: 20px;
    font-weight: bold;
}

.friends-close-btn {
    font-size: 25px;
}

.friends-list {
    background-color: #000;
    separator-color: transparent;
}

.friends-list-item {
    background-color: #EF0792;
    border-color: #000;
    border-width: 0 0 1 0;
    padding: 10px;
}

.friends-list-item-img {
    margin: 0 10px 0 0;
}

.friends-list-item-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
}

.btn-container {
    padding: 7px 10px;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    margin: 15px 0px;
}

.add-friend-btn > Button {
    padding: 0px 10px;
}

.markViewStackLayout {
    background-color: blue;
    padding: 16
}

.deleteViewStackLayout {
    background-color: black;
    padding: 16;
}

.fs-16 {
    font-size: 14px;
}

@keyframes friends-list-open {
    0% { opacity: 0; transform: translateY(200%)}
    100% { opacity: 1; transform: translateY(0)}
}