#search {
    transform: translateY(2000);
}
.search-container {
    background-color: rgba(0, 0, 0, 0.6);
}

.z-index-20 {
    z-index: 20;
}

.search-icon {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    color: #4f4f4f;
    font-size: 16px;
    background-color: #000;
    border-width: 0px;
    border: none;
    margin-top:13px;
    margin-left: 13px;
}

.search-box {
    border: none;
    border-bottom-width:1;
    border-bottom-color:#737373;
}

.search-input {
    color: #fff;
    placeholder-color: #737373;
    border: none;
}
.search-close-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.search-close-icon-label {
    color: #fff;
    background-color: #000;
    font-size: 27px;
}
 
.category-icon-grid {
    background-color: #000;
    color: #fff;
}
.category-icon {
    /*background-color: #000;*/
    /*color: #fff;*/
    /*text-align: center;*/
    vertical-align: middle;
    /*border-radius: 28px;*/
    /*font-size: 28px;*/
    margin-left: 10px;
    margin-right: 20px;
    /*height: 56px;*/
    /*width: 56px;*/
}

.category-filter:pressed{
    background: #FC0682;
}
.category-main{    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 0px;
    border-color:#737373;
    border-style: solid;
    width:100%}
    .border-left-1{border-left-width: 1px;border-style: solid;border-color: #fff}
.category-filter{
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    width: 33.33333%;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 2px;
    border-left-width: 0px;
    border-color:#fff;
    border-style: solid;
    text-transform: capitalize;
padding:5 0 5 0;
}
/*.category-filter.first{
    -webkit-clip-path: inset(45% 0% 33% 10% round 10px);
    clip-path: inset(45% 0% 33% 10% round 10px);
}*/

/*.category-filter.last{
    clip-path: ellipse(50% 80% at 60% 50%);
}*/

Label.clear-margin {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 5;
    color:#4f4f4f;
}
.clear{  margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;line-height: 12}
.address{color:#4f4f4f}
.m-lr-20 {
    margin-left: 20 !important;
    margin-right: 20 !important;
}

.result-container {
}

/*.category-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #fff;
    background-color: #FF0796;
}*/


.category-icon > Image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*margin-top: 5px;*/
}

.invalid-message {
    padding: 25px;
    margin-top: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
}

.invalid-message-title {
    font-weight: normal;
    font-size: 15px;
}
/*
TextField {
    text-align: center;
    border-color: #000;
    border-width: 0px;
    border: none;
}

TextField.area-label {
    text-align: left;
}

.search-bar {
    margin: 5px 10px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    background-color: #000;
    color: #fff;
    --android-line-color: green;
}

search-bar-result {
    padding: 0px 10px;
}

.search-bar .icon {
    height: 25px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.search-bar .icon.clear-btn {
    font-size: 40px;
    height: 40px;
}

.establishment-list {
    background-color: white;
    text-align: center;
}

.establishment-name {
    font-weight: bold;
}

.establishment-result-name {
    font-weight: bold;
    font-size: 20px;
}

.establishment-address {
    color: #777;
    margin-left: 15px;
}

.list-group-item {
    padding: 10px 20px;
    border-color: #ccc;
    border-width: 0 0 1 0;
}
.establishment-card {
    color: white;
    margin-top: 78%;
    margin-bottom: 10px;
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    overflow: hidden;
}

.establishment-card > StackLayout {
    width: 100%;
    height: 100%;
}

.establishment-card-image {
    height: 100%;
    border-radius: 5px;
}

.establishment-card-title {
    font-size: 25px;
    font-weight: bold;
}

.establishment-image {
    height: 40px;
    width: 40px;
    border-radius: 19px;
    margin: 0px;
}

.establishment-image-container {
    height: 40px;
    width: 40px;
    border-radius: 19px;
    margin-right: 20px; 
    margin-top: 0px;
    margin-bottom: 0px;
}

.result-container {
    margin-top: 20px;
}

.list-title {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    margin-left: 16px;
    padding: 10px;
    height: 40px;
    vertical-align: center;
    border-radius: 10px;
}

.load-btn {
    background-color: rgb(255, 0, 148);
    color: white;
    margin-right: 16px;
    padding:10px;
    border-radius: 22.5px;
    height: 45px;
}

.list-header {
    margin-bottom: 10px;
    margin-top: 20px;
}

.categories-container {
    margin-top: 0px;
}

.category-btn {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.category-icon {
    font-size: 35px;
    width: 70px;
    height: 70px;
    color: rgb(255, 0, 148);
    background-color: white;
    border-radius: 35px;
    padding: 17.5px;
}

.category-label {
    color: white;
}

.road-btn {
    opacity: 0;
}*/