Label.area-label {
    height: 60;
    text-align:left;
    margin-top: 21px;
    font-size: 19;
}

#search {
    transform: translateY(2000);
}
.search-container {
    background-color: rgba(0, 0, 0, 0.6);
}

.z-index-20 {
    z-index: 20;
}

.search-icon {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    background-color: #000;
    border-width: 0px;
    border: none;
    margin-top:13px;
    margin-left: 13px;
}

.search-input {
    color: #fff;
    placeholder-color: #737373;
    border: none;
    border-bottom-width:2px;
    border-bottom-color:transparent;
}
.search-close-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.search-close-icon-label {
    color: #fff;
    background-color: #000;
    font-size: 27px;
}

.category-icon-grid {
    background-color: #000;
    color: #fff;
}
.category-icon {
    /*background-color: #000;*/
    /*color: #fff;*/
    /*text-align: center;*/
    vertical-align: middle;
    /*border-radius: 28px;*/
    /*font-size: 28px;*/
    margin-left: 10px;
    margin-right: 20px;
    /*height: 56px;*/
    /*width: 56px;*/
}

.category-filter:pressed{
    background: #FC0682;
}
.category-main{    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 0px;
    border-color:#737373;
    border-style: solid;
    margin-top:120;width:100%}
    .border-left-1{border-left-width: 1px;border-style: solid;border-color: #fff}
.category-filter{
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    width: 33.33333%;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 2px;
    border-left-width: 0px;
    border-color:#737373;
    border-style: solid;
    text-transform: capitalize;
    height: 36;
}

Label.clear-margin {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.small-image.m-lr-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.result-container {
}

.category-icon > Image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*margin-top: 5px;*/
}

.invalid-message {
    padding: 25px;
    margin-top: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
}

.invalid-message-title {
    font-weight: normal;
    font-size: 15px;
}