<GridLayout id="search" rows="auto, auto, *" columns="*" width="100%" height="100%" backgroundColor="black">
    <GridLayout row="0" column="0" width="100%" height="auto" rows="auto, auto" columns="0px, *" marginTop="10px" orientation="horizontal"
        paddingLeft="20" paddingRight="20">

        <!--        <Button
            row   = "0"
sadsadklasdnmsadbsabjbfjas            text  = "&#xE5CD;"
            class = "gi btn-sm btn-white"
            (tap) = "back()">
        </Button>-->


        <GridLayout width="100%" height="100%" row="0" col="1" rows="*" class="top-label m-b-5 search-box" columns="40px, *, 20px, auto">

            <Button text="&#xE8B6;" class="gi" color="#4f4f4f" col="0" fontSize="20px" verticalAlignment="middle" horizontalAlignment="center"
                backgroundColor="black" (tap)="search()">
            </Button>

            <TextField id="searchInput" width="100%" class="search-input" hint="Restaurant, Bars, Clubs" col="1" horizontalAlignment="left"
                autocorrect="false" returnKeyType="done" (tap)="onEstablishmentSearchTapped()" autocapitalizationType="none"
                [(ngModel)]="criteria.text" (ngModelChange)="onSearchCriteriaChanged()">
            </TextField>

            <Button *ngIf="criteria.text && criteria.text.length > 1" col="2" text="&#xe5c9;" class="gi" color="#4f4f4f" fontSize="15"
                color="gray" (tap)="criteria.text = ''">
            </Button>

            <!--  <Button
                row   = "0"
                col   = "3"
                text  = "Cancel"
                class = "btn-black load-btn"
                (tap) = "back()">
            </Button>-->
        </GridLayout>

        <!--        <Button
            row   = "0"
            col   = "2"
            text  = "&#xE55B;"
            class = "gi btn-white btn-sm"
            [isUserInteractionEnabled] = "!(invalidArea || (emptyArea && emptySearch))"
            (tap) = "dismissKeyboard(); onExpand.next()">
        </Button>-->

        <!--<Label row="1" col="0"></Label>-->
        <GridLayout row="1" rows="*" col="1" height="auto" columns="40px, *, 20px" class="top-label area search-box">

            <Button text="&#xe55f;" col="0" fontSize="20px" verticalAlignment="middle" horizontalAlignment="center" class="gi" backgroundColor="black"
                color="#4f4f4f" (tap)="nearBy()">
            </Button>

            <TextField id="areaInput" width="100%" height="100%" col="1" vertical horizontalAlignment="left" class="search-input" placeholderColor="#fff"
                returnKeyType="done" hint="Nearby" [(ngModel)]="area" (ngModelChange)="onModelChange($event)" (tap)="addLastArea()"
                (returnPress)="handleLocationSearch()">
            </TextField>

            <Button *ngIf="area && area.length > 1" col="2" text="&#xe5c9;" class="gi btn-black" color="gray" fontSize="15" (tap)="area = ''">
            </Button>
        </GridLayout>
        <!--<Label row = "1" col = "2"></Label>-->
    </GridLayout>
    <stackLayout width="90%" orientation="horizontal" class="category-main" borderRadius="5" [visibility]="showAreaList ? 'collapsed' : 'visible'">
        <Button id="Drinks" class="category-filter" fontWeight="Normal" borderRadius="5 0 0 5" text="Drinks" verticalAlignment="center"
            (tap)="onTapCategory($event)">
        </Button>

        <Button id="Dinner" class="category-filter" fontWeight="Normal" borderRadius="0 0 0 0" text="Dinner" (tap)="onTapCategory($event)">
        </Button>

        <Button id="Dance" class="category-filter" stretch="aspectFill" fontWeight="Normal" borderRadius="0 5 5 0" text="Dance" (tap)="onTapCategory($event)">
        </Button>

    </stackLayout>

    <StackLayout [ngClass]="{'z-index-20': showAreaList}" row="2" column="0">

        <!--ScrollView orientation="horizontal" marginTop="10px">
            <StackLayout orientation="horizontal">
                <Button
                     [text] = "category.icon"
                     class  = "fi category-icon"
                     *ngFor = "let category of categories"
                     (tap)  = "onTapCategory(category.name)">
                </Button>
            </StackLayout>
        </ScrollView-->
        <ListView *ngIf="!showAreaList" width="100%" height="100%" top="0" left="0" marginTop="10" separatorColor="transparent" backgroundColor="black"
            class="list-container" (swipe)="swipe($event)" (tap)="dismissKeyboard()" [items]="markers" [itemTemplateSelector]="templateSelector"
            (itemLoading)="listViewItemLoading($event)">

            <ng-template let-item="item" let-i="index" nsTemplateKey="SEARCHITEM">
                <GridLayout width="100%" rows="*,*" columns="auto, *" class="p-t-5 p-b-5 category-icon-grid" (tap)="onTapItem(item)">
                    <StackLayout col="0" rowSpan="2" verticalAlignment="center" marginLeft="20" class="clear-padding m-lr-20 category-icon "
                        borderWidth="0" borderColor="transparent transparent transparent transparent">
                        <Image height="40" width="40" stretch="fill" verticalAlignment="center" [src]="item.userData.establishment | establishmentUrl">
                        </Image>
                    </StackLayout>
                    <!--Label
                            row         = "0"
                            col         = "0"
                            class       = "small-image clear-margin img m-lr-20"
                            verticalAlignment = "center"
                            [ngStyle]   = "{ 'background-image': item.userData.establishment | establishmentUrl:'background-image' }">
                        </Label-->

                    <Label row="0" col="1" marginTop="6" class="clear" verticalAlignment="center">
                        <FormattedString>
                            <Span fontSize="15" [text]="item.userData.establishment.name" fontWeight="Bold">
                            </Span>
                        </FormattedString>
                    </Label>
                    <Label row="1" col="1" class="clear-margin" marginBottom="12" verticalAlignment="center">
                        <FormattedString>
                            <Span fontSize="13" [text]="item.userData.establishment.address">
                            </Span>
                        </FormattedString>
                    </Label>
                    <StacKLayout row="1" col="1" borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent"></StacKLayout>
                </GridLayout>
            </ng-template>
        </ListView>
        <area-list [showList]="showAreaList" [area]="area" (onAreaSelected)="onAreaSelected($event)" (onDismissKeyboard)="dismissKeyboard()"></area-list>
    </StackLayout>
    <StackLayout *ngIf="emptySearch && !invalidArea && !emptyArea" row="2" class="invalid-message">
        <Label class="invalid-message-title" textWrap="true" text="There are no results for your search criteria."></Label>
    </StackLayout>
    <StackLayout *ngIf="invalidArea" row="2" class="invalid-message">
        <Label class="invalid-message-title" textWrap="true" text="This city doesn't exist, please check your request."></Label>
    </StackLayout>
    <StackLayout *ngIf="emptyArea && emptySearch" row="2" class="invalid-message">
        <!--Label class="invalid-message-title" textWrap="true" text="Interested in checking out trending places in {{lastArea}}?"></Label-->
        <Label marginTop="5" textWrap="true" text='No results, please check the search keywords and the name of the city.'></Label>
        <Label marginTop="5" textWrap="true" text='The name of the city should be neighborhood, city'></Label>
        <!--Label marginTop="5" textWrap="true" text='Currently we only support New York city, Mexico city and Guadalajara city.'></Label>
        <Label marginTop="5" textWrap="true" text="We would be happy to add your city of choice soon. Please send us an email to support@heatcity.io."></Label-->
    </StackLayout>

</GridLayout>