.notifications-container {
    background-color: #000;
    color: white;
    height: 100%;
    /* margin-top:41%; */
    /* animation-name: notifications-list-open;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-timing-function: ease-out; */
}

.notifications-title {
    font-size: 20;
    font-weight: bold;
}

.notifications-close-btn {
    font-size: 25;
}

.notifications-list {
    background-color: rgba(0,0,0,0);
    /* separator-color: transparent; */
}

.notifications-list-item {
    border-color: #000;
    border-width: 1 0 0 0;
    padding: 5 0 0 0;
    margin: 0 0 5 0;
}

.notifications-list-item-img {
    margin: 5 10 5 10;
    height: 42.78;	
    width: 42.78;
    border-radius: 50;
}

.fs-13 {
    padding: 5 0 20 0;
    font-size: 13;
    white-space: normal;
    color: #ffffff;
}
.fs-10 {
    margin: 6 10 20 10;
    font-size: 10;
    color: #737373;
}


.notification-list-item-icon {
    font-size: 30;
    width: 30;
    height: 30;
    margin: 0 30 0 0;
}

.markViewStackLayout {
    background-color: blue;
    padding: 16
}

.deleteViewStackLayout {
    background-color: black;
    padding: 16;
}
.accountlabel{
    color:#536d80;
   }

@keyframes notifications-list-open {
    0% { opacity: 0; transform: translateY(200%)}
    100% { opacity: 1; transform: translateY(0)}
}

.small-image{margin:0 10 0 10}