<StackLayout>
  <ActionBar>
      <!--<StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="center">
             <Label text="Post" color="white" style="font-size: 17; font-weight: bold" orientation="horizontal"></Label>

      </StackLayout>-->
      <StackLayout width="100%" height="100%">
          <Label text="Post" width="100%" height="100%" textAlignment="center" class="action-bar-title"></Label>
      </StackLayout>
      <ActionItem (tap)="onCancelTap()" ios.systemIcon="1" ios.position="right"></ActionItem>
      <!--  <Label text="Cancel" color="white" ios.position="right" style="font-size: 17;" textAlignment="right" horizontalAlignment="right" orientation="horizontal"></Label>-->
  </ActionBar>
  <GridLayout rows="*,auto,auto">
    <ScrollView row="0">
      <StackLayout backgroundColor="black" height="100%">
          <StackLayout width="100%" height="0.5" marginTop="5" backgroundColor="#4f4f4f"></StackLayout>
          <WrapLayout class="post-wrapper">
              <Label [text]="establishment.name" class="post-head"></Label>
              <Label [text]="establishment.address" class="post-text"></Label>
          </WrapLayout>
          <DockLayout height="100%" stretchLastChild="true">
              <TextView hint="How is it?" (loaded)="onTextViewLoaded($event)" [(ngModel)]="checkInText" dock="top"></TextView>
          </DockLayout>

      </StackLayout>
    </ScrollView>
    <StackLayout row="1">
      <WrapLayout dock="bottom" class="privacy-option" textAlignment="right" horizontalAlignment="right" marginRight="10" marginBottom="5">
          <label *ngIf="visibility == 2" text="&#xE80B;" class="gi" marginRight="5"></label>
          <label *ngIf="visibility == 0" text="&#xE7FF;" class="gi" marginRight="5"></label>
          <label *ngIf="visibility == 1" text="&#xe7fb;" class="gi" marginRight="5"></label>
          <Label text="{{privacy}}" style="font-size: 12;" (onTap)="showPrivacyDialog()"></Label>
      </WrapLayout>
      <Button [text]="postTypeText" (onTap)="doPost()" class="btn-pink" text="Live Post" dock="bottom"></Button>
    </StackLayout>
    <StackLayout [height]="keyboardHeight" row="2"></StackLayout>
  </GridLayout>
</StackLayout>
