.post-wrapper{border-width:0.5;border-color:transparent transparent #4f4f4f transparent;border-style: solid;width:100%;padding: 12 20 12 20}
.post-head{color:#fff;font-size: 15;font-weight: bold;width: 100%}
.post-text{color:#737373;font-size: 13;width: 100%}
TextView{color:#f5f5f5;background-color: black;font-size: 15;padding: 12 20 12 20}
.btn-pink{width:100%;text-align: center;color: #fff;font-size: 15;background-color:rgba(255,7,132,0.7);padding: 13 0 13 0 }
.privacy-option{color:#648296}