.label-title{
    color: #ffffff;
    font-size: 15;
    font-weight: bold;
 }
 .label-pre{
    color: #ffffff;
    font-size: 20;
    margin-left: 10; 
 }
 .label-invite-name{
    color: #ffffff;
    font-size: 15;
    margin-left: 24;    
    vertical-align: center;
 }
 .label-invite-id{
    color: #ffffff;
    font-size: 15;
    height: 21; 
    border-color: #FF0784;
    border-radius: 5;
    border-width: 0.5;
    text-align: center;
    vertical-align: center;
    width:  80;
    margin-right: 20;     
 }
 .invited-container{
    height: 46;
    border-bottom-color: #4F4F4F;
    border: solid;
    border-width: 0.5;
}