<ActionBar class="action-bar" style="background-color: black">
    <GridLayout rows="1*" columns="auto,*, auto">
        <Label class="gi label-pre text-center" text="&#xE408;" row="0" col="0" (tap)="goToBack()"></Label>
        <Label class="label-title" textAlignment="center" text="Find Facebook Friends" row="0" col="1"></Label>
        <Label class="label-title" textAlignment="center" text="Find" row="0" col="2" visibility="hidden"></Label>
    </GridLayout>
</ActionBar>
<stackLayout backgroundColor="black" hight="100%" orientation="vertical">
    <ListView [items]="users" separatorColor="transparent" height="100%">
        <ng-template let-item="item">
        <GridLayout rows="1*" columns="*, auto" class="invited-container">
                <Label class="label-invite-name" [text]="item" row="0" col="0"></Label>
                <Label class="label-invite-id" text="Invite" row="0" col="0" row="0" col="1" (tap)="invite(item)"></Label>
        </GridLayout>
        </ng-template>
    </ListView>
</stackLayout>